<template name="serviceProviderHeader">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <div class="moolya-header">
        <div class="container-fluid">

            <!--header for inner-->
            <div class="row offset10">
                <div class="col-lg-3 col-md-3 col-sm-4 offset0 m-startup margin-top10"><img src="assets/images/startup.png"
                                                                                            alt="home" class="home-icon"/><a
                        href="{{pathFor 'serviceProviders'}}"><h1>Service Provider</h1></a></div>
                <div class="col-lg-6 col-md-6 col-sm-4 text-center"><a href="{{pathFor 'startup'}}"><img src="assets/images/moolya_logo.png"
                                                                                                         alt="moolya" class="moolya-logo"/></a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-4 text-right"><span class="fa fa-search search-icon"></span> <span
                        class="fa fa-bell-o alerts-icon"> <span class="fa fa-circle alert-note"></span></span> <span
                        class="profile-pic"><img src="assets/images/profile-pic.png" alt=""/></span></div>
            </div>

            <!--header for landing-->
            <!--    <div class="row offset10">
              <div class="col-lg-6 col-md-6 col-sm-6 offset0">
                  <a href="#"><img src="assets/images/moolya_logo.png" alt="moolya" class="moolya-logo img-responsive"/></a>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                   <span class="fa fa-search search-icon"></span>
                  <span class="fa fa-bell-o alerts-icon"><span class="fa fa-circle alert-note"></span></span>
                  <span class="profile-pic"><img src="assets/images/profile-pic.png" alt="" /></span>
              </div>
            </div>-->

        </div>
    </div>
</template>