<template name="chart">
    <!--moolya-container-->
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container">
                <div class="row offset0 offset-top3">
                    <div class="col-lg-6 col-md-6 offset0">
                        <div id="finance" style="height: 300px; width: 99%;"> </div>
                    </div>
                    <div class="col-lg-6 col-md-6 offset0">
                        <div id="stock" style="height: 300px; width: 100%;"> </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 offset0 margin-top5">
                    <div class="col-lg-4 col-md-4 offset0">
                        <div id="share" style="height: 300px; width: 99%;"></div>
                    </div>
                    <div class="col-lg-4 col-md-4 offset0">
                        <div id="profit" style="height: 300px; width: 99%;"></div>
                    </div>
                    <div class="col-lg-4 col-md-4 offset0">
                        <div id="inventory" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--moolya-container end-->

</template>