<template name="moolyaLeftNav">
    <div class="moolya-left-nav container-fluid mooly-style-3">
        <div class="row">
            <div class="left-pannel">
                <ul class="nav nav-pills nav-wizard">
                    <li class="active">
                        <div class="nav-wedge">
                            <div class="nav-wedge-inner"></div>
                        </div>
                        <div class="wiz">
                            <a href="{{pathFor 'about'}}">
                                <div class="wiz-inner"><span><img src="assets/images/about.png"></span>
                                    <span>ABOUT</span></div>
                            </a>
                        </div>
                        <div class="nav-arrow">
                            <div class="nav-arrow-inner"></div>
                        </div>
                    </li>
                    <li>
                        <div class="nav-arrow">
                            <div class="nav-arrow-inner"></div>
                        </div>
                        <div class="wiz">
                            <a href="promoters">
                                <div class="wiz-inner"><span><img src="assets/images/m&p.png"></span>
                                    <span>M&amp;P</span></div>
                            </a>
                        </div>
                        <div class="nav-wedge">
                            <div class="nav-wedge-inner"></div>
                        </div>
                    </li>
                    <li>
                        <div class="nav-arrow">
                            <div class="nav-arrow-inner"></div>
                        </div>
                        <div class="wiz">
                            <a href="business-data.html">
                                <div class="wiz-inner"><span><img src="assets/images/data.png"></span> <span>DATA</span>
                                </div>
                            </a>
                        </div>
                        <div class="nav-wedge">
                            <div class="nav-wedge-inner"></div>
                        </div>
                    </li>
                    <li>
                        <div class="nav-wedge">
                            <div class="nav-wedge-inner"></div>
                        </div>
                        <div class="wiz" id="mlibrary">
                            <a href="chart.html">
                                <div class="wiz-inner"><span><img src="assets/images/clients.png"></span>
                                    <span>CHARTS</span></div>
                            </a>
                        </div>
                        <div class="nav-arrow">
                            <div class="nav-arrow-inner"></div>
                        </div>
                    </li>
                    <li>
                        <div class="nav-wedge">
                            <div class="nav-wedge-inner"></div>
                        </div>
                        <div class="wiz">
                            <a href="awards-rewards.html">
                                <div class="wiz-inner"><span><img src="assets/images/certificate.png"></span> <span>A&amp;R</span>
                                </div>
                            </a>
                        </div>
                        <div class="nav-arrow">
                            <div class="nav-arrow-inner"></div>
                        </div>
                    </li>
                    <li>
                        <div class="nav-wedge">
                            <div class="nav-wedge-inner"></div>
                        </div>
                        <div class="wiz">
                            <a href="library.html">
                                <div class="wiz-inner"><span><img src="assets/images/library.png"></span>
                                    <span>LIBRARY</span>
                                </div>
                            </a>
                        </div>
                        <div class="nav-arrow">
                            <div class="nav-arrow-inner"></div>
                        </div>
                    </li>
                    <li>
                        <div class="nav-wedge">
                            <div class="nav-wedge-inner"></div>
                        </div>
                        <div class="wiz">
                            <a href="membership.html">
                                <div class="wiz-inner"><span><img src="assets/images/news.png"></span> <span>MCL</span>
                                </div>
                            </a>
                        </div>
                        <div class="nav-arrow">
                            <div class="nav-arrow-inner"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</template>