<template name="about">
  <div class="container-fluid">
    <div class="row">
      <div class="moolya-container mooly-style-3">
        <div class="row offset0 offset-top">
          <div class="col-lg-6 col-md-6 moolya-app-abt mooly-style-3">
            <h4>About Us</h4>
            <div class="about-logo"><img src="assets/images/logo2.jpg" alt="Grofers" /></div>
            <br>
            <p>ZOYLO is a one stop revolutionary online healthcare platform in India dedicated to extend the horizons of healthcare facilities and services beyond regional limitations and make it accessible to all. We aim at taking healthcare in India to the next level for today’s tech savvy population. With citizens transforming into netizens, we leverage the power of technology to create an online pool of doctors, medical practitioners, diagnostics, hospitals, medicines, wellness products, and other healthcare and emergency services all under one roof with incomparable information and easy online access.</p>
            <br>
            <p>
            <h4>Online Appointment Booking on Zoylo</h4>
            Zoylo’s map based online doctor appointment booking service is one of its kind offering confirmed appointments using your Zoylo account without any hassles. Keeping users’ convenience on the top, the website offers many value added features like quick personalized search, bookings, rescheduling and cancellation facilities to save time and effort. Getting to a specialty doctor right near you was never this easy.
            </p>
            <p>
            <h4>Why Book Doctor’s Appointment on Zoylo?</h4>
            <ul>
              <li>Convenient Map based personalized search for doctors</li>
              <li>Find and compare multiple options in your location</li>
              <li>Refer reviews and feedbacks to take informed decisions</li>
              <li>Get confirmed appointments along with timely alerts</li>
              <li>Rescheduling and cancellation facility on request</li>
              <li>Get easy map direction to your doctor</li>
              <li>Post feedback as per your experience</li>
              <li>Dedicated customer support</li>
            </ul>
            </p>
          </div>
          <div class="col-lg-6 col-md-6 moolya-app-abt-rgt">
            <h4 class="text-center">Ratings</h4>
            <div class="text-center"><img src="assets/images/star-rating.png" alt="" /> <span style="font-size: 15px;">3.5/5</span> </div>
          </div>
          <div class="col-lg-6 col-md-6 offset0">
            <div class="col-lg-12 col-md-12 offset0">
              <div class="col-lg-6 col-md-6 offset0">
                <div style="margin-top: 5px;" class="col-lg-12 col-md-12 moolya-app-abt-client mooly-style-3">
                  <div>
                    <h4>Clients</h4>
                    <ul class="moolya-client">
                      <li class="moolya-client-img"><img src="assets/images/1.png" alt="" /> </li>
                      <li class="moolya-client-img"><img src="assets/images/2.png" alt="" /> </li>
                      <li class="moolya-client-img"><img src="assets/images/3.png" alt="" /> </li>
                      <li class="moolya-client-img"><img src="assets/images/4.png" alt="" /> </li>
                      <li class="moolya-client-img"><img src="assets/images/5.png" alt="" /> </li>
                      <li class="moolya-client-img"><img src="assets/images/1.png" alt="" /> </li>
                      <li class="moolya-client-img"><img src="assets/images/2.png" alt="" /> </li>
                      <li class="moolya-client-img"><img src="assets/images/3.png" alt="" /> </li>
                    </ul>
                  </div>
                </div>
                <div style="margin-top: 5px;" class="col-lg-12 col-md-12 moolya-app-abt-client mooly-style-3">
                  <h4>Services &amp; Products</h4>
                  <p>
                  <h5><strong>Book Appointments</strong></h5>
                  For the first time ever, a map based online booking platform to get you “Confirmed Doctor Appointments”
                  </p>
                  <p>
                  <h5><strong>Online Consultations</strong></h5>
                  Get your health queries answered online by multitude of experienced doctors across the country
                  </p>
                  <p>
                  <h5><strong>Diagnostics</strong></h5>
                  Reach to top notch diagnostics with prior online appointments, get exclusive benefits including home sample collection services
                  </p>
                  <br>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 offset0">
                <div style="margin-top: 5px;" class="col-lg-12 col-md-12 moolya-app-abt-infrm mooly-style-3">
                  <h4>Information</h4>
                  <p> Zoylo understands how paramount is your privacy and has taken effective steps to protect your information and identity through a series of Privacy Statements. This Privacy Policy ensures the privacy rights of its users, members, and visitors as well as its website, services, and mobile applications.
                    Introduction: </p>
                  <p>This privacy policy describes how we gather, employ share and safeguard your personal information, including the medical representative, doctors, practitioners, end users and the visitors of our website. We have created this Privacy Policy to exhibit our obligation to the security of your solitude and your personal information. Your use and access to the Services is subjected to this Privacy Policy and the Terms of Us.</p>
                  <p>Our purpose is to protect your personal data including every minute detail of yours. The utilization and access of our services is subjected to the acceptance of our privacy policy. We will only reveal personal information whenever required to do so by the law, by the order of court, government law or statutory authority or similar requirements or to safeguard any assets or damage.</p>
                  <p>We do not intend to advertise, lease, rent or reveal your personal information to a third party without your permission. The provider of Personal Data admits that all of the information that is is being provided is voluntary and with his/her consent.
                    The privacy policy is pertinent to you in the below circumstance:</p>
                  <p>If you intend to book an appointment with any of the medical representative, doctor, or practitioner, or
                    If you use the data to personally visit the practitioner, doctor, hospital
                    A patient, his/her representatives or affiliates, searching for Practitioners through the use of the Resources established on our website. or
                    In any other case a user of the Resources.</p>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div style="background: #fff;" class="col-lg-12 col-md-12 margin-top5 ">
              <h4>Related Startups</h4>
              
              <!-- Swiper -->
              <div class="swiper-container about-swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide text-center"><img src="assets/images/1.png" alt="" /></div>
                  <div class="swiper-slide text-center"><img src="assets/images/2.png" alt="" /></div>
                  <div class="swiper-slide text-center"><img src="assets/images/3.png" alt="" /></div>
                  <div class="swiper-slide text-center"><img src="assets/images/4.png" alt="" /></div>
                  <div class="swiper-slide text-center"><img src="assets/images/5.png" alt="" /></div>
                  <div class="swiper-slide text-center"><img src="assets/images/1.png" alt="" /></div>
                  <div class="swiper-slide text-center"><img src="assets/images/2.png" alt="" /></div>
                  <div class="swiper-slide text-center"><img src="assets/images/3.png" alt="" /></div>
                  <div class="swiper-slide text-center"><img src="assets/images/4.png" alt="" /></div>
                  <div class="swiper-slide text-center"><img src="assets/images/5.png" alt="" /></div>
                </div>
                
                <!--              <div class="swiper-button-next"></div>
                          <div class="swiper-button-prev"></div>--> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--moolya-container end--> 
  
</template>
