<template name="startup">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <a href="{{pathFor 'about'}}" class="wrapp-click"></a>
                        <div class="m-box-logo"><img src="assets/images/logo2.jpg" class="img-responsive"></div>
                        <div class="m-box-cont">
                            <div class="m-box-title-wrapp">
                                <h1>ZOYLO Digihealth Pvt Ltd</h1>
                                <div class="m-com-type pull-left">Online Healthcare Platform</div>
                                <div class="m-com-connect pull-right"><span class="m-conn-icon"><img src="assets/images/connect.png"></span> Connect</div>
                            </div>
                            <div class="m-pie-metor-wrapp">
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate.png">
                                    <br><span>Passion Meter</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate2.png">
                                    <br><span>Rating</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate3.png">
                                    <br><span>Connections</span></div>
                            </div>
                            <div class="m-favorites-wrapp">
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">801</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">36</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">112</span>
                                    <p>Favorites</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <a href="{{pathFor 'about'}}" class="wrapp-click"></a>
                        <div class="m-box-logo"><img src="assets/images/logo1.jpg" class="img-responsive"></div>
                        <div class="m-box-cont">
                            <div class="m-box-title-wrapp">
                                <h1>SMS Grid</h1>
                                <div class="m-com-type pull-left">Bulk SMS Services </div>
                                <div class="m-com-connect pull-right"><span class="m-conn-icon"><img src="assets/images/connect.png"></span> Connect</div>
                            </div>
                            <div class="m-pie-metor-wrapp">
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate.png">
                                    <br><span>Passion Meter</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate2.png">
                                    <br><span>Rating</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate3.png">
                                    <br><span>Connections</span></div>
                            </div>
                            <div class="m-favorites-wrapp">
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">801</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">36</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">112</span>
                                    <p>Favorites</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <a href="{{pathFor 'about'}}" class="wrapp-click"></a>
                        <div class="m-box-logo"><img src="assets/images/logo3.jpg" class="img-responsive"></div>
                        <div class="m-box-cont">
                            <div class="m-box-title-wrapp">
                                <h1>SMART</h1>
                                <div class="m-com-type pull-left">SMART Field-Sales application</div>
                                <div class="m-com-connect pull-right"><span class="m-conn-icon"><img src="assets/images/connect.png"></span> Connect</div>
                            </div>
                            <div class="m-pie-metor-wrapp">
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate.png">
                                    <br><span>Passion Meter</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate2.png">
                                    <br><span>Rating</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate3.png">
                                    <br><span>Connections</span></div>
                            </div>
                            <div class="m-favorites-wrapp">
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">801</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">36</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">112</span>
                                    <p>Favorites</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <a href="{{pathFor 'about'}}" class="wrapp-click"></a>
                        <div class="m-box-logo"><img src="assets/images/logo4.jpg" class="img-responsive"></div>
                        <div class="m-box-cont">
                            <div class="m-box-title-wrapp">
                                <h1>Appfire Technologies</h1>
                                <div class="m-com-type pull-left">Provides Atlassian software Services</div>
                                <div class="m-com-connect pull-right"><span class="m-conn-icon"><img src="assets/images/connect.png"></span> Connect</div>
                            </div>
                            <div class="m-pie-metor-wrapp">
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate.png">
                                    <br><span>Passion Meter</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate2.png">
                                    <br><span>Rating</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate3.png">
                                    <br><span>Connections</span></div>
                            </div>
                            <div class="m-favorites-wrapp">
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">801</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">36</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">112</span>
                                    <p>Favorites</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--2nd row-->
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <a href="{{pathFor 'about'}}" class="wrapp-click"></a>
                        <div class="m-box-logo"><img src="assets/images/logo5.jpg" class="img-responsive"></div>
                        <div class="m-box-cont">
                            <div class="m-box-title-wrapp">
                                <h1>LUXUS India</h1>
                                <div class="m-com-type pull-left">Expert in customised sliding door wardrobes</div>
                                <div class="m-com-connect pull-right"><span class="m-conn-icon"><img src="assets/images/connect.png"></span> Connect</div>
                            </div>
                            <div class="m-pie-metor-wrapp">
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate.png">
                                    <br><span>Passion Meter</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate2.png">
                                    <br><span>Rating</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate3.png">
                                    <br><span>Connections</span></div>
                            </div>
                            <div class="m-favorites-wrapp">
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">801</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">36</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">112</span>
                                    <p>Favorites</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <a href="{{pathFor 'about'}}" class="wrapp-click"></a>
                        <div class="m-box-logo"><img src="assets/images/logo6.jpg" class="img-responsive"></div>
                        <div class="m-box-cont">
                            <div class="m-box-title-wrapp">
                                <h1>LeadSquared Pvt. Ltd.</h1>
                                <div class="m-com-type pull-left">Complete CRM & marketing automation software</div>
                                <div class="m-com-connect pull-right"><span class="m-conn-icon"><img src="assets/images/connect.png"></span> Connect</div>
                            </div>
                            <div class="m-pie-metor-wrapp">
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate.png">
                                    <br><span>Passion Meter</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate2.png">
                                    <br><span>Rating</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate3.png">
                                    <br><span>Connections</span></div>
                            </div>
                            <div class="m-favorites-wrapp">
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">801</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">36</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">112</span>
                                    <p>Favorites</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <a href="{{pathFor 'about'}}" class="wrapp-click"></a>
                        <div class="m-box-logo"><img src="assets/images/logo7.jpg" class="img-responsive"></div>
                        <div class="m-box-cont">
                            <div class="m-box-title-wrapp">
                                <h1>Prometheus Patent Services Pvt Ltd</h1>
                                <div class="m-com-type pull-left">Prometheus offers Intellectual Property services</div>
                                <div class="m-com-connect pull-right"><span class="m-conn-icon"><img src="assets/images/connect.png"></span> Connect</div>
                            </div>
                            <div class="m-pie-metor-wrapp">
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate.png">
                                    <br><span>Passion Meter</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate2.png">
                                    <br><span>Rating</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate3.png">
                                    <br><span>Connections</span></div>
                            </div>
                            <div class="m-favorites-wrapp">
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">801</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">36</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">112</span>
                                    <p>Favorites</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <a href="{{pathFor 'about'}}" class="wrapp-click"></a>
                        <div class="m-box-logo"><img src="assets/images/logo8.jpg" class="img-responsive"></div>
                        <div class="m-box-cont">
                            <div class="m-box-title-wrapp">
                                <h1>AuctionIndia</h1>
                                <div class="m-com-type pull-left">Providing services related to Auctions</div>
                                <div class="m-com-connect pull-right"><span class="m-conn-icon"><img src="assets/images/connect.png"></span> Connect</div>
                            </div>
                            <div class="m-pie-metor-wrapp">
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate.png">
                                    <br><span>Passion Meter</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate2.png">
                                    <br><span>Rating</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate3.png">
                                    <br><span>Connections</span></div>
                            </div>
                            <div class="m-favorites-wrapp">
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">801</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">36</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">112</span>
                                    <p>Favorites</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--3rd row-->
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <a href="{{pathFor 'about'}}" class="wrapp-click"></a>
                        <div class="m-box-logo"><img src="assets/images/logo7.jpg" class="img-responsive"></div>
                        <div class="m-box-cont">
                            <div class="m-box-title-wrapp">
                                <h1>Prometheus Patent Services Pvt Ltd</h1>
                                <div class="m-com-type pull-left">Prometheus offers Intellectual Property services</div>
                                <div class="m-com-connect pull-right"><span class="m-conn-icon"><img src="assets/images/connect.png"></span> Connect</div>
                            </div>
                            <div class="m-pie-metor-wrapp">
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate.png">
                                    <br><span>Passion Meter</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate2.png">
                                    <br><span>Rating</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate3.png">
                                    <br><span>Connections</span></div>
                            </div>
                            <div class="m-favorites-wrapp">
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">801</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">36</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">112</span>
                                    <p>Favorites</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <a href="{{pathFor 'about'}}" class="wrapp-click"></a>
                        <div class="m-box-logo"><img src="assets/images/logo8.jpg" class="img-responsive"></div>
                        <div class="m-box-cont">
                            <div class="m-box-title-wrapp">
                                <h1>AuctionIndia</h1>
                                <div class="m-com-type pull-left">Providing services related to Auctions</div>
                                <div class="m-com-connect pull-right"><span class="m-conn-icon"><img src="assets/images/connect.png"></span> Connect</div>
                            </div>
                            <div class="m-pie-metor-wrapp">
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate.png">
                                    <br><span>Passion Meter</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate2.png">
                                    <br><span>Rating</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate3.png">
                                    <br><span>Connections</span></div>
                            </div>
                            <div class="m-favorites-wrapp">
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">801</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">36</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">112</span>
                                    <p>Favorites</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <a href="{{pathFor 'about'}}" class="wrapp-click"></a>
                        <div class="m-box-logo"><img src="assets/images/logo7.jpg" class="img-responsive"></div>
                        <div class="m-box-cont">
                            <div class="m-box-title-wrapp">
                                <h1>Prometheus Patent Services Pvt Ltd</h1>
                                <div class="m-com-type pull-left">Prometheus offers Intellectual Property services</div>
                                <div class="m-com-connect pull-right"><span class="m-conn-icon"><img src="assets/images/connect.png"></span> Connect</div>
                            </div>
                            <div class="m-pie-metor-wrapp">
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate.png">
                                    <br><span>Passion Meter</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate2.png">
                                    <br><span>Rating</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate3.png">
                                    <br><span>Connections</span></div>
                            </div>
                            <div class="m-favorites-wrapp">
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">801</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">36</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">112</span>
                                    <p>Favorites</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <a href="{{pathFor 'about'}}" class="wrapp-click"></a>
                        <div class="m-box-logo"><img src="assets/images/logo8.jpg" class="img-responsive"></div>
                        <div class="m-box-cont">
                            <div class="m-box-title-wrapp">
                                <h1>AuctionIndia</h1>
                                <div class="m-com-type pull-left">Providing services related to Auctions</div>
                                <div class="m-com-connect pull-right"><span class="m-conn-icon"><img src="assets/images/connect.png"></span> Connect</div>
                            </div>
                            <div class="m-pie-metor-wrapp">
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate.png">
                                    <br><span>Passion Meter</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate2.png">
                                    <br><span>Rating</span></div>
                                <div class="m-pie-cont col-lg-4 col-md-4 col-sm-4 offset0 text-center"><img src="assets/images/rate3.png">
                                    <br><span>Connections</span></div>
                            </div>
                            <div class="m-favorites-wrapp">
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">801</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">36</span>
                                    <p>Favorites</p>
                                </div>
                                <div class="m-fav-cont col-lg-4 col-md-4 col-sm-4 text-center offset0">
                                    <span class="m-fav-count">112</span>
                                    <p>Favorites</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--rows end-->
            </div>
        </div>
    </div>
</template>