<template name="funders">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="col-lg-12 col-md-12 col-sm-12 offset0 clearfix">
                    <div class="m-fn-box-wrapp">
                        <div class="data-grid">
                            <div class="grid-sizer"></div>
                            <div class="grid-item">
                                <a href="{{pathFor 'aboutFunder'}}" class="wrapp-click"></a>
                                <div class="m-box-header"></div>
                                <div class="m-box-cont">
                                    <div class="funder-mask"><span><img src="assets/funders/Prabhakar-Dharmalingam.jpg" class="mySelector"/></span></div>
                                    <div class="m-fn-hedr-wrapp">
                                        <h1>Prabhakar Dharmalingam</h1>
                                        <p>Energy Department</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <a href="funders-profile.html" class="wrapp-click"></a>
                                <div class="m-box-header"></div>
                                <div class="m-box-cont">
                                    <div class="funder-mask"><span><img src="assets/funders/Lalit-Choudhary.jpg" class="mySelector"/></span></div>
                                    <div class="m-fn-hedr-wrapp">
                                        <h1>Lalit Choudhary</h1>
                                        <p>Energy Department</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <a href="#" class="wrapp-click"></a>
                                <div class="m-box-header"></div>
                                <div class="m-box-cont">
                                    <div class="funder-mask"><span><img src="assets/funders/Mohammed-Mohasin.jpg" class="mySelector"/></span></div>
                                    <div class="m-fn-hedr-wrapp">
                                        <h1>Mohammed Mohasin</h1>
                                        <p>Energy Department</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item grid-item--width3">
                                <a href="#" class="wrapp-click"></a>
                                <div class="m-box-header"></div>
                                <div class="m-box-cont">
                                    <div class="funder-mask fun-center"><span><img src="assets/funders/Narayana-Swamy-Pagidi.jpg" class="mySelector"/></span></div>
                                    <div class="m-fn-hedr-wrapp">
                                        <h1>Narayana Swamy Pagidi</h1>
                                        <p>Energy Department</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <a href="#" class="wrapp-click"></a>
                                <div class="m-box-header"></div>
                                <div class="m-box-cont">
                                    <div class="funder-mask"><span><img src="assets/funders/Naveen-Kumar-Vuppu.jpg" class="mySelector"/></span></div>
                                    <div class="m-fn-hedr-wrapp">
                                        <h1>Naveen Kumar Vuppu</h1>
                                        <p>Energy Department</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <a href="#" class="wrapp-click"></a>
                                <div class="m-box-header"></div>
                                <div class="m-box-cont">
                                    <div class="funder-mask"><span><img src="assets/funders/Pavan-Thallapally.jpg" class="mySelector"/></span></div>
                                    <div class="m-fn-hedr-wrapp">
                                        <h1>Pavan Thallapally</h1>
                                        <p>Energy Department</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item grid-item--width3">
                                <a href="#" class="wrapp-click"></a>
                                <div class="m-box-header"></div>
                                <div class="m-box-cont">
                                    <div class="funder-mask fun-center"><span><img src="assets/funders/Sreedhar-Basangi.jpg" class="mySelector"/></span></div>
                                    <div class="m-fn-hedr-wrapp">
                                        <h1>Sreedhar Basangi</h1>
                                        <p>Energy Department</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <a href="#" class="wrapp-click"></a>
                                <div class="m-box-header"></div>
                                <div class="m-box-cont">
                                    <div class="funder-mask"><span><img src="assets/funders/Kishore-Sara.jpg" class="mySelector"/></span></div>
                                    <div class="m-fn-hedr-wrapp">
                                        <h1>Kishore Sara</h1>
                                        <p>Energy Department</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <a href="#" class="wrapp-click"></a>
                                <div class="m-box-header"></div>
                                <div class="m-box-cont">
                                    <div class="funder-mask"><span><img src="assets/funders/Harish-Reddy-Mallu.jpg" class="mySelector"/></span></div>
                                    <div class="m-fn-hedr-wrapp">
                                        <h1>Harish Reddy Mallu</h1>
                                        <p>Energy Department</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item grid-item--width3">
                                <a href="#" class="wrapp-click"></a>
                                <div class="m-box-header"></div>
                                <div class="m-box-cont">
                                    <div class="funder-mask fun-center"><span><img src="assets/funders/Chandra-Sekhar-Gorugantu.jpg" class="mySelector"/></span></div>
                                    <div class="m-fn-hedr-wrapp">
                                        <h1>Chandra Sekhar Gorugantu</h1>
                                        <p>Energy Department</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <a href="#" class="wrapp-click"></a>
                                <div class="m-box-header"></div>
                                <div class="m-box-cont">
                                    <div class="funder-mask"><span><img src="assets/funders/Harisha-madam.jpg" class="mySelector"/></span></div>
                                    <div class="m-fn-hedr-wrapp">
                                        <h1>Harisha madam</h1>
                                        <p>Energy Department</p>
                                    </div>
                                </div>
                            </div>
                            <div class="grid-item">
                                <a href="#" class="wrapp-click"></a>
                                <div class="m-box-header"></div>
                                <div class="m-box-cont">
                                    <div class="funder-mask"><span><img src="assets/funders/Sharanya-bothumanchi.jpg" class="mySelector"/></span></div>
                                    <div class="m-fn-hedr-wrapp">
                                        <h1>Sharanya bothumanchi</h1>
                                        <p>Energy Department</p>
                                    </div>
                                </div>
                            </div>
                            <!--rows end-->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>