<template name="footerLayout">

        <div class="menuContent">
            <div class="menuContentbg"></div>
            <!--<a class="slider"></a>-->
            <ul id="nav" style="display: none;">
                <li>
                    <div id="hex1" class="hexagon-wrapper">
                        <div id="color1" class="hexagon"><span class="moolya-footer-icon"><img src="assets/images/edit.png"></span></div>
                    </div>
                    <div class="moolya-footer-icon-lable">Edit</div>
                </li>
                <li>
                    <div id="hex1" class="hexagon-wrapper">
                        <div id="color1" class="hexagon"><span class="moolya-footer-icon"><img src="assets/images/save.png"></span></div>
                    </div>
                    <div class="moolya-footer-icon-lable">Save</div>
                </li>
                <li>
                    <div id="hex1" class="hexagon-wrapper">
                        <div id="color1" class="hexagon"><span class="moolya-footer-icon"><img src="assets/images/delete.png"></span></div>
                    </div>
                    <div class="moolya-footer-icon-lable">Delete</div>
                </li>
                <li>
                    <div id="hex1" class="hexagon-wrapper">
                        <div id="color1" class="hexagon"><span class="moolya-footer-icon"><img src="assets/images/upload.png"></span></div>
                    </div>
                    <div class="moolya-footer-icon-lable">Upload</div>
                </li>
                <li>
                    <div id="hex1" class="hexagon-wrapper">
                        <div id="color1" class="hexagon"><span class="moolya-footer-icon"><img src="assets/images/download.png"></span></div>
                    </div>
                    <div class="moolya-footer-icon-lable">Download</div>
                </li>
            </ul>
        </div>

    <div class="homepage-switch mainview">
        <span><img src="assets/images/list-view-active.png"></span>
        <span><img src="assets/images/map-view-active.png"></span>
    </div>

        <div class="moolya-map-view" style="display: none;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 offset-0 mapimg">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d72423.01013678637!2d78.28448927591103!3d17.446997260454406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93a276decedf%3A0x2c12e79e6f9344e2!2sGachibowli%2C+Hyderabad%2C+Telangana+500032!5e0!3m2!1sen!2sin!4v1459074435343" width="100%" height="530" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>

</template>