<template name="promoters">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="col-lg-12 col-md-12 offset0">
                    <div class="m-card-anim">
                        <section class="main">
                            <div id="sb-container" class="sb-container">
                                <div class="management-details " id="item-1"><span class="icon"><i class="fa fa-user" area-hidden="true"></i></span><span class="logo"><img src="assets/images/alerts.png" alt="image"></span>
                                    <label class="card-title">Sameera</label>
                                    <label class="card-number"><span class="number">1</span></label>
                                </div>
                                <div class="management-details" id="item-2"><span class="icon"><i class="fa fa-user" area-hidden="true"></i></span><span class="logo"><img src="assets/images/alerts.png" alt="image"></span>
                                    <label class="card-title">C.E.O</label>
                                    <label class="card-number"><span class="number">3</span></label>
                                </div>
                                <div class="management-details" id="item-3"><span class="icon"><i class="fa fa-user" area-hidden="true"></i></span><span class="logo"><img src="assets/images/alerts.png" alt="image"></span>
                                    <label class="card-title">C.E.O</label>
                                    <label class="card-number"><span class="number">1</span></label>
                                </div>
                                <div class="management-details" id="item-4"><span class="icon"><i class="fa fa-user" area-hidden="true"></i></span><span class="logo"><img src="assets/images/alerts.png" alt="image"></span>
                                    <label class="card-title">C.E.O</label>
                                    <label class="card-number"><span class="number">1</span></label>
                                </div>
                                <div class="management-details" id="item-5"><span class="icon"><i class="fa fa-user" area-hidden="true"></i></span><span class="logo"><img src="assets/images/alerts.png" alt="image"></span>
                                    <label class="card-title">C.E.O</label>
                                    <label class="card-number"><span class="number">1</span></label>
                                </div>
                                <div class="management-details active" id="item-6"><span class="icon"><i class="fa fa-user" area-hidden="true"></i></span><span class="logo"><img src="assets/images/alerts.png" alt="image"></span>
                                    <label class="card-title">Gowtham V <br>
                                        C.O.O</label>
                                    <label class="card-number"><span class="number">1</span></label>
                                </div>
                            </div>
                            <!-- sb-container -->
                        </section>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 offset0">
                    <div class="promoters" id="content-1">
                        <label class="promoter-image">
                            <figure>
                                <img src="assets/images/rammohan.jpg" />
                                <figcaption>C.F.O</figcaption>
                            </figure>
                        </label>
                        <p>Raised in a traditional family, Gowtham has retained a strong sense of discipline, diligence and perseverance in his personality. He is a wildlife lover and likes to explore nature driving around with friends. Having spent all his childhood and schooling in Andhra Pradesh, IN, Gowtham has a Master of Computer Applications from University of Madras, Chennai, Tamil Nadu. He places utmost importance in striking right balance between work and personal life and believes it is critical not just for his progression but also ensures his team practice it.</p>
                        <p>He is well travelled across India, US, EMEA and APAC and retains special interests in technology consulting, operations and strategy in his 18+ years of experience while fire-fighting many complex projects. He has a good mix of technical, managerial and services background.</p>
                    </div>
                    <div class="promoters" id="content-2">
                        <label class="promoter-image">
                            <figure>
                                <img src="assets/images/sharanya.jpg" />
                                <figcaption>C.S.O</figcaption>
                            </figure>
                        </label>
                        <p>A seasoned and result focused executive accomplished in sales, technology, program, general management and people functions with demonstrated and sustained ability of client satisfaction, profitability and exceeding board expectations.</p>
                        <p>Articulate communicator well accustomed to working cultures of India, US, Europe, Middle East & Asian countries in 20+ years of various roles of IT experience. With her persuasive abilities, eclectic sense of humor, technical bent of mind and immense networking connections, Sameera is invaluable to organizations for his executive presence and demonstrated technical abilities.</p>
                        <p> She is a Bachelor of Engineering in Electronics from Bangalore University and has a Masters Diploma in Software Science, from Tata Unisys Limited Education Center, India. Her career has spanned roles of an instructor, analytical skills of programming, IT manager of complex data centers, products & projects, program management and that of a business head.</p>
                        <p>She is well travelled and has amassed more than two decades of international working and business building experience in the US, Europe and APAC countries. Her stint at SRA while working from Amsterdam, New York and its other branches has molded him into a fine IT executive handling MM€ projects for the global Japanese software company, deftly balancing technical management, quality, delivery and customer expectations in many high-pressure engagements around the world.</p>
                    </div>
                    <div class="promoters" id="content-3">
                        <label class="promoter-image">
                            <figure>
                                <img src="assets/images/yeshwanth.jpg" />
                                <figcaption>C.E.O</figcaption>
                            </figure>
                        </label>
                        <p>Raised in a traditional family, Gowtham has retained a strong sense of discipline, diligence and perseverance in his personality. He is a wildlife lover and likes to explore nature driving around with friends. Having spent all his childhood and schooling in Andhra Pradesh, IN, Gowtham has a Master of Computer Applications from University of Madras, Chennai, Tamil Nadu. He places utmost importance in striking right balance between work and personal life and believes it is critical not just for his progression but also ensures his team practice it.</p>
                        <p>He is well travelled across India, US, EMEA and APAC and retains special interests in technology consulting, operations and strategy in his 18+ years of experience while fire-fighting many complex projects. He has a good mix of technical, managerial and services background.</p>
                    </div>
                    <div class="promoters" id="content-4">
                        <label class="promoter-image">
                            <figure>
                                <img src="assets/images/yeshwanth.jpg" />
                                <figcaption>C.D.O</figcaption>
                            </figure>
                        </label>
                        <p>Raised in a traditional family, Gowtham has retained a strong sense of discipline, diligence and perseverance in his personality. He is a wildlife lover and likes to explore nature driving around with friends. Having spent all his childhood and schooling in Andhra Pradesh, IN, Gowtham has a Master of Computer Applications from University of Madras, Chennai, Tamil Nadu. He places utmost importance in striking right balance between work and personal life and believes it is critical not just for his progression but also ensures his team practice it.</p>
                        <p>He is well travelled across India, US, EMEA and APAC and retains special interests in technology consulting, operations and strategy in his 18+ years of experience while fire-fighting many complex projects. He has a good mix of technical, managerial and services background.</p>
                    </div>
                    <div class="promoters" id="content-5">
                        <label class="promoter-image">
                            <figure>
                                <img src="assets/images/santosh.jpg" />
                                <figcaption>C.E.O</figcaption>
                            </figure>
                        </label>
                        <p>Raised and schooled in Hyderabad, TS, IN Sreeram moved to Bangalore to obtain his Bachelor of Engineering in Electronics & Communication from Bangalore University. He has a Post Graduate Certification in Business Management (PGCBM), from XLRI India. As a cricket enthusiast, he captains a team actively participating in many intra company tournaments toping the charts few times. Perseverance and leadership comes naturally as a sportsman.</p>
                        <br>
                        <p>He is well travelled across India, US, UK and Canada and retains special interests in product development, management consulting, coaching, customer service, pre sales and business development and has been a high achiever all his life.</p>
                        <br>
                        <p>For professional experience, Sreeram donned various roles as skilled analytical software programmer, tutor/trainer, business analyst, product manager, program head during his tenure at DST and TCS/Microsoft. He is acclaimed for his contributions towards setting up a greenfield IT qa/qc practice at DST, that has shaped into a full-fledged successful center of excellence (COEs) catering to testing and consulting aspects of financial projects of a globally dispersed large teams delivering hedge fund products across US and UK.</p>
                    </div>
                    <div class="promoters active" id="content-6">
                        <label class="promoter-image">
                            <figure>
                                <img src="assets/images/giridhar.jpg" />
                                <figcaption>C.O.O</figcaption>
                            </figure>
                        </label>
                        <p>Raised in a traditional family, Gowtham has retained a strong sense of discipline, diligence and perseverance in his personality. He is a wildlife lover and likes to explore nature driving around with friends. Having spent all his childhood and schooling in Andhra Pradesh, IN, Gowtham has a Master of Computer Applications from University of Madras, Chennai, Tamil Nadu. He places utmost importance in striking right balance between work and personal life and believes it is critical not just for his progression but also ensures his team practice it.</p>
                        <p>He is well travelled across India, US, EMEA and APAC and retains special interests in technology consulting, operations and strategy in his 18+ years of experience while fire-fighting many complex projects. He has a good mix of technical, managerial and services background.</p>
                    </div>
                </div>
                <!--rows end-->
            </div>
        </div>
    </div>
</template>