<template name="membership">
    <!--moolya-container-->
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="moolya-membership">
                    <div class="col-lg-5 col-md-5 members-leftcontent">
                        <div class="members-heading">
                            <h4>Membership</h4>
                        </div>
                        <div class="membership-content">
                            <p>This is the most obvious way to offer something special to your members, but it isn't always easy decide what you should offer.</p>
                            <br>
                            <p>I'm going to share two different ideas for members only content. The first, value content, appeals to your audience from a learning and business perspective, while the second, insider content, appeals to your audience from a more curious angle. Either approach can be effective. Ideally you find a way to use them both.</p>
                            <br>
                            <p>Value content is content that will help your readers make money or do something they're really interested in. If you're writing great content about DIY home improvement, like Young House Love, one idea would be to write a weekly post with a special members only do it yourself project. Another idea would be to include a printable PDF step by step guide for members in each renovation style post. This is value content. It's especially useful and relevant to your readers.</p>
                            <br>
                            <p>Insider content gives your audience some insight into you and your work routine or life. Humans are naturally curious and interested in people we admire. Entire TV shows and magazines are dedicated to documenting celebrity life. How you can you turn this curiosity into an idea for your membership site? In the Young House Love example, Sherry and John could include some behind the scenes video they took while completing a renovation, or maybe a blooper reel of mistakes made during the process. They could also do a quick members only video explaining the thought process behind a home improvement project.
                                Real world example</p>
                            <br>
                            <p>Shawn Blanc has been writing about technology and design since 2007. He offers members only value content with Coffee Methods (recipes, gear, and videos on brewing coffee) and insider content with Shawn Today, a behind-the-scenes podcast of his ideas and thoughts on technology and design. </p>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5 members-right-compliance">
                        <div class="moolya-compliance">
                            <div class="compliances-heading">
                                <h4>Compliances</h4>
                            </div>
                            <div class="compliance-content">
                                <p>The purpose of a statutory audit is the same as the purpose of any other audit – to determine whether an organization is providing a fair and accurate representation of its financial position by examining information such as bank balances, bookkeeping records and financial transactions.</p>
                                <br>
                                <p>Appointment of the Statutory Auditors of the Company.
                                    Finalise Annual Accounts with the Auditors of the Company</p>
                                <br>
                                <p>
                                <h4>Annual RoC Filings</h4>
                                Private Limited Companies are required to file its Annual Accounts and Returns disclosing details of its shareholders, directors etc to the Registrar of Companies. Such compliances are required to be made once in a year.
                                As a part of Annual Filing, the following forms are to be filed with the ROC:
                                Form MGT-7 (Annual Return) : Every Private Limited Company is required to file its Annual Return within 60 days of holding of Annual General Meeting. Annual Return will be for the period 1st April to 31st March.
                                Form AOC-4 (Financial Statements) : Every Private Limited Company is required to file its Balance Sheet along with statement of Profit and Loss Account and Director Report in this form within 30 days of holding of Annual General Meeting.
                                </p>
                                <br>
                                <p>
                                <h4>Annual General Meeting</h4>
                                Every Private Limited Company is required to hold a meeting of its shareholders once in every year within a period of six months from the date of closing of the financial year.
                                The primary agenda of an AGM includes approval of financial statements, declaration of dividends, appointment or re-appointment of auditors, appointment and remuneration of directors etc.
                                The Annual General Meeting shall be held during business hours on a day which is not a public holiday and shall take place at the registered office of the company or at some other place within the city, town or village in which the registered office of the company is situated.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6col-lg-6 members-right-license">
                        <div class="moolya-license">
                            <div class="license-heading">
                                <h4>License</h4>
                            </div>
                            <div class="license-content">
                                <img class="img-responsive" src="assets/images/license_business.jpg" />
                            </div>
                        </div>
                    </div>
                </div>
                <!--rows end-->
            </div>
        </div>
    </div>
</template>