<template name="balanceSheet">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="col-lg-12 col-md-12 col-sm-12 offset0 clearfix">
                    <div class="m-bs-box-wrapp">
                        <object data="assets/pdf/SampleFS.pdf" type="application/pdf" width="100%" height="800px"> </object>
                    </div>

                </div>
            </div>
        </div>
        </div>
</template>