<template name="businessData">

    <!--moolya-container-->
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="col-lg-12 col-md-12 col-sm-12 offset0 clearfix">
                    <div class="m-bs-box-wrapp">
                        <div class="data-grid">
                            <div class="grid-sizer"></div>
                            <div class="grid-item grid-item--width2 grid-item--height2">
                                <a href="business-data-balance-sheet.html" class="wrapp-click"></a>
                                <h1>Balance Sheet</h1>
                            </div>
                            <div class="grid-item">
                                <a href="#" class="wrapp-click"></a>
                                <h1>Profit and Loss</h1>
                            </div>
                            <div class="grid-item">
                                <a href="#" class="wrapp-click"></a>
                                <h1>Cash Flow</h1>
                            </div>
                            <div class="grid-item grid-item--width2 grid-item--height2">
                                <a href="#" class="wrapp-click"></a>
                                <h1>Capital Structure</h1>
                            </div>
                            <div class="grid-item">
                                <a href="#" class="wrapp-click"></a>
                                <h1>Quarterly Report</h1>
                            </div>
                            <div class="grid-item">
                                <a href="#" class="wrapp-click"></a>
                                <h1>Half Yearly Report</h1>
                            </div>
                            <div class="grid-item">
                                <a href="#" class="wrapp-click"></a>
                                <h1>Yearly Report</h1>
                            </div>
                            <div class="grid-item">
                                <a href="#" class="wrapp-click"></a>
                                <h1>Over all Report</h1>
                            </div>
                            <div class="grid-item">
                                <a href="#" class="wrapp-click"></a>
                                <h1>Ratio</h1>
                            </div>
                            <div class="grid-item">
                                <a href="#" class="wrapp-click"></a>
                                <h1>Share Holding</h1>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>