<template name="serviceProviders">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <a href="{{pathFor 'serviceProvider'}}" class="wrapp-click"></a>
                        <div class="m-box-header"></div>
                        <div class="m-box-cont">
                            <div class="provider-mask"><span><img src="assets/providers/Animesh-Katewal.jpg" class="mySelector"/></span></div>
                            <div class="m-box-hedr-wrapp">
                                <h1>Animesh Katewal</h1>
                                <p>Energy Department</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <a href="idea.html" class="wrapp-click"></a>
                        <div class="m-box-header"></div>
                        <div class="m-box-cont">
                            <div class="provider-mask"><span><img src="assets/providers/Geetha-Konanki.jpg" class="mySelector"/></span></div>
                            <div class="m-box-hedr-wrapp">
                                <h1>Geetha-Konanki</h1>
                                <p>Ecommerce Department</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <div class="m-box-header"></div>
                        <div class="m-box-cont">
                            <div class="provider-mask"><span><img src="assets/providers/Giridhar-Duggirala.jpg" class="mySelector"/></span></div>
                            <div class="m-box-hedr-wrapp">
                                <h1>Giridhar Duggirala</h1>
                                <p>Energy Department</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <div class="m-box-header"></div>
                        <div class="m-box-cont">
                            <div class="provider-mask"><span><img src="assets/ideators/Jagadeesh-Pondara.jpg" class="mySelector"/></span></div>
                            <div class="m-box-hedr-wrapp">
                                <h1>Jagadeesh Pondara</h1>
                                <p>Energy Department</p>
                            </div>

                        </div>
                    </div>
                </div>
                <!--2nd row-->
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <div class="m-box-header"></div>
                        <div class="m-box-cont">
                            <div class="provider-mask"><span><img src="assets/providers/Kishore-Dinnimeedi.jpg" class="mySelector"/></span></div>
                            <div class="m-box-hedr-wrapp">
                                <h1>Kishore Dinnimeedi</h1>
                                <p>Energy Department</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <div class="m-box-header"></div>
                        <div class="m-box-cont">
                            <div class="provider-mask"><span><img src="assets/ideators/Muralidhar-Reddy-Kunduru.jpg" class="mySelector"/></span></div>
                            <div class="m-box-hedr-wrapp">
                                <h1>Muralidhar Reddy Kunduru</h1>
                                <p>Ecommerce Department</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <div class="m-box-header"></div>
                        <div class="m-box-cont">
                            <div class="provider-mask"><span><img src="assets/providers/Rajat-Sekhar-Srivastava.jpg" class="mySelector"/></span></div>
                            <div class="m-box-hedr-wrapp">
                                <h1>Rajat Sekhar Srivastava</h1>
                                <p>Energy Department</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <div class="m-box-header"></div>
                        <div class="m-box-cont">
                            <div class="provider-mask"><span><img src="assets/providers/Ram-Mohan.jpg" class="mySelector"/></span></div>
                            <div class="m-box-hedr-wrapp">
                                <h1>Ram Mohan</h1>
                                <p>Energy Department</p>
                            </div>

                        </div>
                    </div>
                </div>
                <!--3rd row-->
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <div class="m-box-header"></div>
                        <div class="m-box-cont">
                            <div class="provider-mask"><span><img src="assets/ideators/Ravi-Teja.jpg" class="mySelector"/></span></div>
                            <div class="m-box-hedr-wrapp">
                                <h1>Ravi Teja</h1>
                                <p>Energy Department</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <div class="m-box-header"></div>
                        <div class="m-box-cont">
                            <div class="provider-mask"><span><img src="assets/providers/Sagar-Sen-Chavali.jpg" class="mySelector"/></span></div>
                            <div class="m-box-hedr-wrapp">
                                <h1>Sagar Sen Chavali</h1>
                                <p>Ecommerce Department</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <div class="m-box-header"></div>
                        <div class="m-box-cont">
                            <div class="provider-mask"><span><img src="assets/providers/Samson-Stoic.jpg" class="mySelector"/></span></div>
                            <div class="m-box-hedr-wrapp">
                                <h1>Samson Stoic</h1>
                                <p>Energy Department</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <div class="m-box-header"></div>
                        <div class="m-box-cont">
                            <div class="provider-mask"><span><img src="assets/providers/Swathi-Macha.jpg" class="mySelector"/></span></div>
                            <div class="m-box-hedr-wrapp">
                                <h1>Swathi Macha</h1>
                                <p>Energy Department</p>
                            </div>

                        </div>
                    </div>
                </div>
                <!--rows end-->
            </div>
        </div>
    </div>
</template>