@charset "utf-8";
/* CSS Document */
@import url("assets/fonts/font_style.css");
@font-face {
	font-family: 'Conv_DINPro-Regular_13937';
	src: url('fonts/DINPro-Regular_13937.eot');
	src: local('☺'), url('fonts/DINPro-Regular_13937.woff') format('woff'), url('fonts/DINPro-Regular_13937.ttf') format('truetype'), url('fonts/DINPro-Regular_13937.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*header*/
.moolya-header{
	background:#212020;
	float:left;
	width:100%;
	display:table;
	table-layout:fixed;
	color: #fff;
	position: fixed;
	z-index: 999;
}
.moolya-logo{
	width: 165px;
}
.home-icon{
	width: 30px;
	float: left;
}
.m-startup h1{
	font-size: 18px;
	font-weight: normal;
	float: left;
	margin: 0px;
	padding: 6px 6px;
	color: #ffc20e;
}
.profile-pic img{
	width: 38px;
	border-radius: 50%;
}
.offset10{
	padding: 10px 10px 5px 10px;
}
.offset20{
	padding-top: 20px;
}
.offset0{
	padding: 0px;
	margin: 0px;
}
.moolya-search{
	background: #000;
	height: 30px;
	border: 1px solid #f8e654;
	color: #fff;
	padding-left: 25px;
	border-radius: 3px;
}
.search-icon:before{
	padding: 5px;
	font-size: 14px;
	color: #f0f0f0;
}
.search-icon, .alerts-icon{
	padding-right: 20px;
}
.alert-note{
	color: #f00;
	font-size: 10px;

	margin-left: -6px;
}
/}
/*breadcrumbs*/
.moolya-breadcrumbs-wrapp{
	float: left;
	position: absolute;
	left: 50px;
}
.moolya-breadcrumbs-track{
	background: #e3eef5;
	width: 2px;
	float: left;
	height: 120px;
	position: absolute;
	left: 6px;
}
.moolya-breadcrumbs{
	list-style: none;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}
.moolya-breadcrumbs li{
	padding: 4px 0px 3px 20px;
	font-size: 13px;
	background:url(assets/images/list.png) no-repeat 2px 7px;
	position: relative;
	z-index: 2;
}
.bredcrumb-active{
	color: #f00;
	background:url(assets/images/list-active.png) no-repeat 2px 7px !important;
}

/*Success message*/
.moolya-success-msg-wrapp{
	float: right;
	padding: 10px 10px 0px;
}
.moolya-msg-track{
	border:solid 1px #ffc20e;
	background: #fff;
	border-radius: 5px;
	padding: 1px 15px 0px;
	position: absolute;
	width: 221px;
}
.moolya-success-msg{
	background: #e3eef5;
	padding: 5px 20px;
	border-radius: 4px;
	color: #000;
	border:solid 1px #92c0de;
	margin: 20px 0px 0px 15px;
}

.moolya-msg-arrows{
	float: left;
}
.moolya-msg-arrows::before {
	width: 0;
	height: 0;
	position: relative;
	content: "";
	right: -30px;
	top: 15px;
	border: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 0 solid;
	border-top: 15px solid #ffc20e;
	font: normal 100%/normal Arial, Helvetica, sans-serif;
	color: rgba(0, 0, 0, 1);
}
.moolya-msg-arrows::after {
	width: 0;
	height: 0;
	position: relative;
	content: "";
	right: -120px;
	top: 15px;
	border: 10px solid rgba(0, 0, 0, 0);
	border-top: 15px solid #ffc20e;
	border-bottom: 0 solid;
	font: normal 100%/normal Arial, Helvetica, sans-serif;
	color: rgba(0, 0, 0, 1);
}
.moolya-msg-icon{
	color: #53a1d2;
}
/*header end*/

/*left pannel css*/
.moolya-left-nav{
	float: left;
	width: 5.80%;
	margin-top: 67px;
}

.left-pannel a{ text-decoration: none;}
/* Navigation*/
.nav-pills.nav-wizard > li {
	position: relative;
	overflow: visible;
	border-top: 20px solid transparent;
	border-left: 0 solid transparent;
	float: none;
	width: 60px;
	margin: 9px;
	margin-top: 26px;
	cursor: pointer;
}

.nav-pills.nav-wizard > li:last-child {
	border-right: 0
}
.nav-pills.nav-wizard > li a {
	border-radius: 0;
	/*background-color: #ce1937;*/
	color: #000;
	text-align: center;
	font-weight: 400
}
.nav-pills.nav-wizard > li .wiz {
	background: #ffc20e;
	display: block;
	height: 55px;
	text-align: center;
	padding-top: 0px;
	color: #000;
	font-size: 18px;
}

.nav-pills.nav-wizard > li .nav-wedge {
	position: absolute;
	top: 50px;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 9px 30px 35px 30px;
	border-color: #ffc20e #ffc20e transparent;
	z-index: 75;
}
.nav-pills.nav-wizard > li .nav-arrow {
	position: absolute;
	bottom: 55px;
	left: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 30px 35px 30px;
	border-color: #ffc20e transparent #ffc20e;
	z-index: 75
}
/*left nav active*/
.nav-pills.nav-wizard > li.active .nav-arrow-inner {
	position: absolute;
	top: 7px;
	left: -25px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 26px 28px 25px;
	border-color: #fff transparent #fff;
	z-index: 75;
}
.nav-pills.nav-wizard > li.active .wiz-inner {
	background: #fff;
	display: block;
	height: 50px;
	text-align: center;
	padding-top: 0px;
	color: #000;
	border-left: 4px solid #ffc20e;
	border-right: 4px solid #ffc20e;
}
.nav-pills.nav-wizard > li.active .nav-wedge-inner {
	position: absolute;
	top: -9px;
	left: -26px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px 27px 30px 25px;
	border-color: #fff #fff transparent;
	z-index: 75;
}
/*left nav active end*/

/*left nav hover*/
.nav-pills.nav-wizard > li:active .nav-arrow-inner {
	position: absolute;
	top: 7px;
	left: -25px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 26px 28px 25px;
	border-color: #fff transparent #fff;
	z-index: 75;
}
.nav-pills.nav-wizard > li:active .wiz-inner {
	background: #fff;
	display: block;
	height: 50px;
	text-align: center;
	padding-top: 0px;
	color: #000;
	border-left: 4px solid #ffc20e;
	border-right: 4px solid #ffc20e;
}
.nav-pills.nav-wizard > li:active .nav-wedge-inner {
	position: absolute;
	top: -9px;
	left: -26px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0px 27px 30px 25px;
	border-color: #fff #fff transparent;
	z-index: 75;
}
.wiz-inner{font-size: 10px;}

.wiz-inner{font-size: 12px;}
.wiz-inner span:nth-child(2){float: left; width: 60px;}
/* Navigation end*/

/*nav active */
.nav-pills.nav-wizard > li:active .nav-wedge {
	border-color: #fff #fff transparent;
}
.nav-pills.nav-wizard > li:active .nav-arrow {
	border-color: #ffc20e transparent #ffc20e;
}
.nav-pills.nav-wizard > li:active a {
	background-color: #fff;
	color: #000
}
.nav-pills.nav-wizard > li:active .nav-wedge {
	border-color: #ffc20e #ffc20e transparent;
}
.nav-pills.nav-wizard > li.active .nav-arrow {
	border-color: #ffc20e transparent #ffc20e;
}
.nav-pills.nav-wizard > li.active:active .nav-arrow {
	border-color: #ffc20e transparent #ffc20e;
}
.nav-pills.nav-wizard > li:active .wiz {
	background: #fff;
	color: #000
}
/*nav active ends*/


/*top menu hexagan*/
.mly-top-nav ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.mly-top-nav ul li {
	float: left;
	margin:0px 20px 0px 20px;
}
.hexa {
    box-sizing:(content-box);
	padding: 7px 15px;
	position: relative;
	border: none;
	font: normal 99%/normal Arial, Helvetica, sans-serif;
	color: rgba(0, 0, 0, 1);
	background: #ffc20e;
	text-align: center;
	cursor: pointer;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #fff;
}

.hexa:before, .hexa:after {
	content:'';
	position: absolute;
	top:0px; /* magic number = border width */
	width: 2.1em;
	height: 2.1em;
	background: inherit;
	transform-origin:center;
	z-index:-1;
	border:1px solid #fff;
}
.hexa:before {
	right:100%;
	transform: translateX(50%) rotate(45deg) scale(0.719);
}
.hexa:after {
	left:100%;
	transform: translateX(-50%)rotate(45deg) scale(0.719);
}
/*hexgan menu active*/
.mooly-top-nav .active .hexa {
	background: #fff;
	color: #f00;
	border-top: solid 1px #f00;
	border-bottom: solid 1px #f00;
}
.mooly-top-nav .active .hexa::after {
	border-left: 20px solid #fff;
	border:1px solid #f00;
}
.mooly-top-nav .active .hexa::before {
	border-right: 20px solid #fff;
	border:1px solid #f00;
}
/*top menu hexagan end*/

.moolya-container{
	width: 94.2%;
	float: left;
	padding: 5px 5px 5px 5px;
	background-color: #cacac8;
	margin-top: 65px;
}

/*---custom scroll bar---*/
.mooly-style-3::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(245,249,25,0.1);
	background-color: #cacac8;
}
.mooly-style-3::-webkit-scrollbar {
	width: 3px;
	background-color: #F5F5F5;
}
.mooly-style-3::-webkit-scrollbar-thumb {
	background-color: #ffd65c;
	border-radius:5px;
}
/*//scroll bar*/


/*footer css*/
.menuContentbg{
	opacity: 0.6;
	float: left;
	width: 100%;
	width: 100%;
	position: absolute;
	height: 100%;
	background:#333;
	border-radius: 5px 5px 0px 0px;
}
.menuContent {
	bottom: -8px;
	padding: 0 0px 5px;
	position: fixed;
	left: 40%;
	width: 356px;
	z-index: 99;
}
.menuContent a.slider {
	/*	background-color: #9c9898;*/
	background-image: url(assets/images/bottom_top.png);
	background-repeat: no-repeat;
	border-bottom: none;
	cursor: pointer;
	float: right;
	height: 15px;
	margin: -15px 10em 0 0;
	padding: 3px 25px;
	width: 8px;
	z-index: 2001;
	/*	box-shadow: 3px -2px 3px #B8B8B8;*/
}
.menuContent a.slider img {
	padding-bottom: 3px;
}
#nav {
	list-style: none;
	padding: 0px 20px;
}
#nav li {
	display: inline-block;
	margin: 10px;
}
#nav li a {
	/*	border: 1px solid #ccc;*/
	color: #858585;
	display: block;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	width: auto;
}
#nav li ul {
	display: none;
}

#nav li ul li {
	margin: 5px 0;
	display: block;
}
#nav li a img {
	border-width: 0px;
	margin-right: 8px;
	vertical-align: middle;
}
#nav ul li a img {
	background: url("assets/images/bulb.png") no-repeat;
	border-width: 0px;
	height: 16px;
	line-height: 22px;
	margin-right: 5px;
	vertical-align: middle;
	width: 16px;
}
/* hexa gonal button shape */
#hex1 {
	width: 40px;
	height: 40px;
}
.hexagon {
	background-color: #f8e654;
}

.hexagon:hover {
	background-color: #fff;
}
.hexagon-wrapper {
	text-align: center;
	/*	margin: 20px;*/
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.hexagon {
	height: 100%;
	width: calc(100% * 0.57735);
	display: inline-block;
	border: 1px solid;
}
.hexagon:before {
	position: absolute;
	top: 0;
	right: calc((100% / 2) - ((100% * 0.56735) / 2));
	background-color: inherit;
	height: inherit;
	width: inherit;
	content: '';
	-webkit-transform: rotateZ(60deg);
	transform: rotateZ(60deg);
	border-top: 1px solid;
	border-bottom: 1px solid
}
.hexagon:after {
	position: absolute;
	top: 0;
	right: calc((100% / 2) - ((100% * 0.56735) / 2));
	background-color: inherit;
	height: inherit;
	width: inherit;
	content: '';
	-webkit-transform: rotateZ(-60deg);
	-webkit-transform: rotateZ(-60deg);
	transform: rotateZ(-60deg);
	border-top: 1px solid;
	border-bottom: 1px solid
}

.moolya-footer-icon{
	float: left;
	position: relative;
	z-index: 9;
	top: 7px;
	left: -1px;
}
.moolya-footer-icon-lable{
	position: absolute;
	font-size: 12px;
	color: #fff;
}
/*footer end*/


/*landing page box containers*/
.m-box-wrapp{
	background: #fff;
	border: 1px solid #ddd;
	margin: 5px;
	border-radius: 5px;
	box-shadow: 1px 2px 4px #999;
	min-height: 286px;
}
.m-box-wrapp:hover{
	border: solid 1px #f00;
}
.m-box-logo{
	box-shadow: 0px 1px 3px #ccc;
}
.m-box-logo img{
	max-width: 100%;
	width: 200px;
	margin: auto;
}
.m-box-title-wrapp{
	height: 70px;
}
.m-com-type{
	height: 24px;
	width: 75%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.m-box-cont h1{
	font-size: 17px;
	margin: 0px;
	padding:5px 0px;
	overflow: hidden;
	height: 42px;
	text-align: center;
}
.m-box-cont{
	padding: 5px;
	min-height: 222px
}
.m-com-connect{
	font-size: 12px;
	padding-top: 5px;
}
.m-conn-icon{
	float: left;
	margin: -1px -1px;
}
.m-conn-icon img{
	width: 18px;
}
.m-pie-metor-wrapp{
	float: left;
	width: 100%;
	padding: 5px 0px 20px 0px;
}
.m-pie-cont{
	float:left;
	font-size: 9px;
}
.m-favorites-wrapp{
	float: left;
	width: 92%;
}
.m-fav-cont{
	float: left;
	font-size: 12px;
}
.m-fav-cont p{
	border-left:2px solid #ccc;
}
.m-fav-cont:first-child p{
	border: none;
}
.m-fav-count{
	color: #A10404;
	font-size: 17px;
	font-weight: bold;
}
.wrapp-click{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
}
/*business data*/
.m-bs-box-wrapp{
	margin-top: 2px;
	border-radius: 4px;
	box-shadow: 1px 2px 4px #999;
}
.m-aw-box-wrapp{
	background: #fff;
	border-radius: 0px;
	margin-left: 1px;
	margin-top: 3px;
	min-height: 898px;
	height: 100%;
}
.m-aw-box-wrapp p{
	padding: 10px;
}
.m-fullarticle {
	display: none;
}
.m-fullarticle h1{
	font-size: 24px;
	padding: 5px;
	margin: 0px;
}
.awardimg{
	cursor: pointer;
}

/*grid random boxes*/
.grid-item,
.grid-sizer {
	width: 25%;
	min-height: 150px;
}
.grid-item {
	float: left;
	height: 100px;
	background: #fff;
	border: 1px solid #333;
	border-color: #ccc;
}
.grid-item--width2 { width: 50%; min-height: 150px; }
.grid-item--height2 { height: 250px; }

.grid-item--height3 { height: 300px; }


.data-grid h1{
	font-size: 20px;
	text-align: center;
}

/*about start*/
.offset-top{margin: 18px 0px 0px;}
.offset-top3{margin-top: 3px;}
.moolya-client li{float: left; list-style: none; }
.moolya-client-img{width: 100px; height: 60px; border: 1px solid #cacac8; margin: 5px; }
.margin-top5 h4{margin: 0px; padding: 5px;}
.margin-top5 .swiper-container-horizontal{padding-bottom: 5px;}
.moolya-client-img img{max-width: 99%;}
.moolya-rc li{float: left; list-style: none; }
.margin-top5{margin-top: 5px;}
.moolya-app-abt{background: #fff; margin-top: -15px; padding-top: 10px; height: 490px; overflow-y: scroll;}
.moolya-app-abt-rgt{background: #fff; margin-top: -15px; padding-top: 10px; height: 130px;}
.moolya-app-abt-client{background: #fff; margin-top: -15px; padding-top: 10px; height: 175px; overflow-y: scroll;}
.moolya-app-abt-infrm{background: #fff; margin-top: -15px; padding-top: 10px; height: 355px; overflow-y: scroll}
.about-logo img{ width: 180px;}

/*about end*/

/*search*/
.expSearchBox {
	margin:0;
	position: absolute;
	right: 17%;
	top: 4px;
}
.expSearchFrom {
	border: 1px solid #000;
	border-radius: 20px;
	display: inline-block;
	height: 30px;
	position: relative;
}
input#field{
	cursor:pointer;
	border:none;
	background:transparent;
	height:30px;
	width:0px;
	line-height:0px;
	vertical-align:top;
	padding:0px 15px;
	-webkit-transition: width .5s; /* Safari */
	transition: width .5s;
	position:relative;
	z-index:2;
	color:#fff;
}
input#field:focus{
	width:200px;
	outline:none;
	margin-right:30px;
}
.close{
	position:absolute;
	width:30px;
	height:30px;
	top:0px;
	right:0px;
	-webkit-transition: .2s ease-in-out;
	-moz-transition: .2s ease-in-out;
	-o-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
	cursor: pointer;
	z-index:1;
	display: none;
}

.close span {
	background: #fff none repeat scroll 0 0;
	border-radius: 3px;
	display: block;
	height: 4px;
	position: absolute;
	right: -7px;
	top: 29px;
	width: 14px;

	-webkit-transition: .2s .5s ease-in-out ;
	-moz-transition: .2s .5s ease-in-out;
	-o-transition: .2s .5s ease-in-out;
	transition: .2s .5s ease-in-out;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}


.close span.back{
	top:12px;
	right:5px;
	opacity:0;
}
input#field:focus + .close span{
	top:12px;
	right:5px;
}

input#field:focus + .close span.back{
	-webkit-transition: .5s .7s ease-in-out ;
	-moz-transition: .5s .7s ease-in-out;
	-o-transition: .5s .7s ease-in-out;
	transition: .5s .7s ease-in-out;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	opacity:1;
}
/*search end*/


/*promoters-details*/
.m-promoter-flow .swiper-container {
	width: 100%;
	height: 300px;
}

.m-promoter-flow .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.m-promoter-flow .swiper-slide:nth-child(2n) {
	width: 20%;
}

.m-promoter-flow .swiper-slide:nth-child(3n) {
	width: 10%;
}
/*????????????*/

.promoter-info {
	height: 270px;
	overflow-y: auto;
	background: #fff;
	margin-top: 10px;
	padding: 10px;
}

.promoter-info::-webkit-scrollbar {
	width: 0.2em;
	background: #ffc20e;
}

.promoter-image {
	width: 200px;
	height: 200px;
	float: left;
}

.promoter-image figure {
	padding: 10px;
}

.promoter-image figure img {
	width: 100px;
}

.promoter-image figcaption {
	font-size: 25px;
	padding: 10px;
}


/*promoters page*/

.m-card-swatch {
	/*	width: 100%;*/
	height: 250px;
	margin: 0 auto;
	margin-top: 6em;
	float: none;
	/*	border-bottom: 1px solid #ffc20e;*/
	/*	display: flex;*/
}

.m-card-anim {
	margin: 0 auto;
	padding: 0;
	float: none;
	width: 100%;
	background: #fff;
	margin-top: 5px;
	padding-top: 20px;
}

.m-mange-content {
	margin-left: 5px;
	margin-top: 5em;
	padding: 2px;
	width: 99%;
	float: none;
}

.management-details:hover:active {
	border: 2px solid #ef4647
}

.management-info {
	width: 100%;
	height: 115px;
	overflow: hidden;
}

.bubble {
	height: 230px;
	width: 100%;
	/*	margin: 2px;*/
	/*	margin-top: 4em;*/
	padding: 2px;
	background: #FFFFFF;
	/*	border: #ffc20e solid 1px;*/
	display: none;
	overflow-y: auto;
}

.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 15px;
	border-color: #FFc20e transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: -15px;
	left: 95%;
}

.bubble::-webkit-scrollbar {
	width: 0.2em;
	background-color: #ffc20e
}

.content-image {
	width: 25%;
	height: 180px;
	/*	border: 1px solid #ccc;*/
	padding: 5px;
	float: left;
}

.content-image figure img {
	width: 50%;
}

figcaption {
	font-size: 25px;
	padding: 15px;
}


/*card animation*/

.sb-container {
	position: relative;
	width: 150px;
	height: 320px;
	margin: 30px auto 0 auto;
}

.sb-container .icon {
	border: 2px solid #ccc;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	/* padding: 15px; */
	padding-left: 13px;
}

span.icon {
	float: left;
}

span.logo {
	float: right;
}

.sb-container .card-title {
	width: 100%;
	margin-left: 0px;
	margin-top: 20px;
	font-size: 20px;
	text-align: center;
}

span.number {
	border: 2px solid #ddd;
	padding: 4px;
	border-radius: 50%;
}

label.card-number {
	width: 100%;
	margin-top: 41px;
}

.sb-container div {
	position: absolute;
	top: 0;
	left: 0;
	width: 190px;
	background: #fff;
	height: 250px;
	border: 1px solid #333;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	font-size: 30px;
	/*	background-image: url(../images/fabric.png);*/
	-webkit-transform-origin: 65% 90%;
	-moz-transform-origin: 65% 90%;
	-o-transform-origin: 65% 90%;
	-ms-transform-origin: 65% 90%;
	transform-origin: 65% 90%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
span.sb-icon {
	display: block;
	height: 70px;
	width: 70px;
	margin: 20px auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	user-select: none;
}
span.sb-icon:before {
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: block;
	text-decoration: inherit;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
	line-height: 64px;
	width: 100%;
	font-size: 60px;
	color: #000;
	text-shadow: 0 0 1px #000;
}
.promoters {
	background: #fff;
	overflow-y: auto;
	height: 220px;
	margin-top: 10px;
	display: none;
	padding: 10px;
}
#content-1 {
	display: block;
}
.promoters::-webkit-scrollbar {
	width: 0.2em;
	background: #ffc20e;
}
/*.promoters:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 15px 15px;
	border-color: #ffc20e transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: -5px;
	left: 90%;
}
.promoter-info:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 20px 20px 0;
	border-color: #ffc20e transparent;
	display: block;
	width: 0;
	z-index: 1;
	top: 10px;
	left: 90%;
}*/
/*Promoters end*/


/*moolya membership screen*/
.moolya-membership {
	height: 580px;
	overflow: hidden;
}

.members-leftcontent {
	background: #fff;
	margin: 5px;
	width: 50%;
}

.members-leftcontent .members-heading h1 {
	text-align: center;
	height: 40px;
}

.membership-content {
	height: 570px;
	overflow-y: auto;
}

.membership-content::-webkit-scrollbar {
	width: 0.2em;
	background: #ffc20e;
	color: #ffc20e;
}

.membership-content::-webkit-scrollbar-track {
	width: 0.2em;
	background: #ffc20e;
	color: #ffc20e;
}

.membership-content::-webkit-scrollbar-thumb {
	width: 0.2em;
	background: #ffc20e;
	color: #ffc20e;
}

.members-right-compliance {
	height: 285px;
	background: #fff;
	margin: 5px 0px;
	width: 48%;
	overflow: hidden;
	padding: 2px;
}

.members-right-compliance .compliances-heading h1 {
	text-align: center;
	height: 40px;
}

.compliance-content {
	height: 245px;
	overflow-y: scroll;
	padding: 10px;
}

.compliance-content::-webkit-scrollbar {
	width: 0.2em;
	background: #ffc20e;
	color: #ffc20e;
}

.members-right-license {
	height: 283px;
	background: #fff;
	margin: 5px;
	width: 48%;
	overflow: hidden;
	padding: 3px;
}

.members-right-license .license-heading h1 {
	text-align: center;
	height: 40px;
}

.license-content {
	height: 245px;
	overflow-y: scroll;
	padding: 10px;
}

.license-content::-webkit-scrollbar {
	width: 0.2em;
	background: #ffc20e;
	color: #ffc20e;
}
/*membership end*/

/*Ideators*/
.m-box-header{
	background: #1b3b61;
	height: 90px;
}
.ideator-mask{
	background:url(/assets/images/bulb.png) no-repeat;
	position: absolute;
	top: 30px;
	width: 65%;
	left: 20%;

	text-align: center;
	float: left;
	height: 100%;
	border-color: #e7e7e7;
	margin-top: -10px;
	padding-bottom: 30px;
}
.ideator-mask span{
	background: #fbffff;
	float: left;
	width: 65%;
	border-radius: 50%;
	margin: 12px 0px 0px 33px;
	overflow: hidden;
}
.ideator-mask img{
	width: 140px;
	height: 120px;
	border-radius: 21%;
}
.m-box-compy-wrapp{
}
.m-box-hedr-wrapp{
	margin-top: 140px;
	text-align: center;
}
.m-box-hedr-wrapp h1{
	font-size: 18px;
}

.moolya-app-idea{background: #fff; margin-top: -15px; padding-top: 10px; height: 480px; overflow-y: scroll;}
.moolya-border{border:1px solid #ddd; text-align: center;}
.moolya-list{list-style-type: disc; margin-bottom: 5px;}
.moolya-form-view{font-size: 14px; margin-top: 20px;}
.user-icon {
	width: 130px;
	height: 130px;
	border: 1px solid #CCC;
	border-radius: 50%;
	font-size: 75px;
	margin-top: 15px;
	padding: 5px 25px 0px 22px;
	text-align: center;
}
/*Ideators end*/

.moolya-bg{background: #fff;}

.margin-top10{margin-top: 10px;}



/*Register form css start*/
.register_btn{background: #ce1936;color: #fff;position: absolute;top: 123px;height: 78px;width: 28px;right: 0px;cursor:pointer;z-index: 99;transition:.3s ease-in-out;}
.register_btn:hover{width:33px;}
.register_btn.btn_form_open{right: 352px;width: 28px !important;}
.register_btn span{transform:rotate(-90deg);text-shadow: 0px 1px 1px #333;display: inline-block;margin-top: 28px;margin-left: -14px;position: absolute;}
.register_btn:after {width: 23px;height: 78px;background: url(/assets/images/hex_arrow.png);position: absolute;left: -22px;top: 0px;content: "";}
.form_container{width: 0px;height:165px; background:#db5c70;position: absolute;right: 0px;top: 123px;border-radius: 0px 0px 0px 12px;padding:0px;overflow: hidden;transition:.3s ease-in-out;z-index: 99;}
.register_form_open{width:352px;padding: 10px 20px;}
.form_nav{margin-top: 26px;}
.form_nav li{display:inline-block;width: 12px;height: 12px;border-radius: 50%;background: #920f24;margin-right: 8px;opacity:0.4;}
.form_nav li.active_nav{opacity: 1;}
.show_p{background: url(assets/images/show.svg);width: 24px;height: 24px;position: absolute;right: 0px;bottom: 5px;cursor: pointer;}
.hide_p{background: url(assets/images/hide.svg);width: 24px;height: 24px;position: absolute;right: 0px;bottom: 5px;cursor: pointer;}
/*Register form css start*/

/*funders grid random boxes*/
.m-fn-box-wrapp{
	margin-top: 2px;
	border-radius: 4px;
	box-shadow: 1px 2px 4px #999;
}

.m-fn-box-wrapp .grid-item,
.m-fn-box-wrapp .grid-sizer {
	width: 19%;
	min-height: 250px;

	margin: 6px;
	border-radius: 5px;
	box-shadow: 1px 2px 4px #999;
}
.m-fn-box-wrapp .grid-item {
	float: left;
	height: 100px;
	background: #fff;
	border: 1px solid #333;
	border-color: #ccc;
}
.m-fn-box-wrapp .grid-item--width2 { width: 50%; min-height: 250px; }
.m-fn-box-wrapp .grid-item--height2 { height: 250px; }

.m-fn-box-wrapp .grid-item--width3 { width: 39%; min-height: 250px; }
.m-fn-box-wrapp .grid-item--height3 { height: 200px; }

.m-fn-box-wrapp .data-grid h1{
	font-size: 20px;
	text-align: center;
}
.funder-mask{
	background:url(assets/images/hexagon.png) no-repeat;
	position: absolute;
	top: 0px;
	width: 100%;
	left: 8%;

	text-align: center;
	float: left;
	height: 100%;
	border-color: #e7e7e7;
	margin-top: -10px;
	padding-bottom: 30px;
}
.fun-center{left: 28%;}
.funder-mask span{
	background: #fbffff;
	float: left;
	/*width: 69%;*/
	border-radius: 35%;
	margin: 49px 0px 0px 30px;
	overflow: hidden;
}
.funder-mask img{
	width: 140px;
	height: 120px;
	border-radius: 21%;
}
.m-fn-hedr-wrapp{
	margin-top: 85px;
	text-align: center;
}
.m-fn-hedr-wrapp h1{
	font-size: 17px !important;
	padding: 10px 0px;
}
/*funders end*/


/*funders profile*/

.moolya-swipe-box {
	border: 1px solid #ddd;
	height: 240px;
	padding: 10px;
}

.swiper2 {
	width: 100%;
	height: 100%;
}

.marginRight15 {
	margin-right: 15px;
}

.marginTop {
	margin-top: 35px;

}
.moolya-funder-detail-bg {
	background: url(assets/funders/hexa-bg.png) no-repeat center;
	height: 240px;
	text-align: center;
}
.moolya-funder-detail-bg img {
	/*width: 165px;*/
	width: 135px;
	padding-top: 0px;
}
.custom-align{
	float: none;
	width: 100%;
}
.engagement .img {
	width: 165px;
	padding-top: 15px;
}
.funder-footer-swipe-bg{
	background: url(assets/images/funders-bg100x.png) no-repeat center;
	border: none;
	height: 102px !important;
}
.funder-footer-swipe-bg img{
	width: 35%;
	margin-top: 28px;
}
/*funders profiles*/

/*hanging button*/
.homepage-switch{
	width: 80px;
	height: 44px;
	bottom: 100px;
	right: 1px;
	background: url(assets/images/hanging.png) no-repeat;
	position: fixed;
	z-index: 9999
}
.homepage-switch span{
	position: absolute;
	top: 7px;
	left: 7px;
}
.homepage-switch span:nth-child(2){
	position: absolute;
	top: 7px;
	left: 43px;
}
/*.mapview{background: url(../images/list-view-active.png) no-repeat}
.mainview{background: url(../images/map-view-active.png) no-repeat}*/
/*hanging button end*/


/*News start here*/
.moolya-bg{background: #fff;}
.moolya-news{padding-bottom: 25px; margin:5px;}
.moolya-border{border:1px solid #ddd;}
.moolya-news-txt{font-size: 18px; border-bottom: 1px solid #ddd; float: left; width: 100%; padding: 7px; margin-bottom: 5px;}
/*News end here*/

/*funders areamof interest*/
.padding10{padding: 10px;}
.moolya-area{height: 255px; overflow-y: scroll;}
/*funders areamof interest*/



/*principal and teams main */
.principals a{
	text-decoration: none; color: #333;
}
.principals-block {
	float: left;
	height: 290px;
	overflow-y: scroll;
}
.principals-block::-webkit-scrollbar {
	width: 0.1em;
	background: #ffc20e;
}

.teamblock {
	float: left;
	display: block;
	margin-right: 5px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.principal-team {
	padding-left: 6em;
	text-align: center;
}
.principal-team .fa-users {
	font-size: 111px;
	border: 1px solid #999;
	border-radius: 50%;
	padding: 17px;
	float: left;
	margin-bottom: 15px;
}

.principal-profile .fa-user {
	font-size: 81px;
	border: 1px solid #999;
	border-radius: 100%;
	padding: 6px;
	padding-left: 26px;
	width: 9%;
	height: 105px;
}
.principals {
	padding: 15px;
}
.principal-teamleft{background: #fff; margin-top: 5px; padding-top: 10px;}
/*principal and teams main */

/*principals*/
.m-principal {
	width: 100%;
	height: 450px;
	background: #fff;
	overflow: hidden;
	overflow-y: scroll;
}

.m-principal-bg {
	box-sizing: border-box;
	padding: 10px;
}

.m-principal::-webkit-scrollbar {
	width: 0.2em;
	background: #ffc20e;
}

.corner-menu {
	width: 35.5%;
	height: 250px;
	float: left;
	border: 1px solid #ccc;
	margin: 0.2em;
	margin-bottom: 1em;
	margin-right: 2em;
	cursor: pointer;
	overflow: auto;
}

.corner-menu::-webkit-scrollbar {
	width: 0.1em;
	background: #ccc;
}
.m-principal-bg h3 {
	text-align: center;
}
.p-user-details h4 {
	text-align: center;
}
/* principals end *****/


/*teams page */
.teams-details {
	display: inline-flex;
	flex-direction: column;
	box-sizing: border-box;
	float: right;
}
.team-member {
	border: 1px solid #ffc20e;
	height: 150px;
	width: 18.5%;
	float: left;
	margin: 3px;
	float: left;
	padding: 10px;
	background: #fff;
}
.team-member .fa-user {
	font-size: 30px;
}
.team-member .fa-user {
	font-size: 55px;
	float: left;
	color: #f6a436;
}
.team-member-details{
	font-weight: normal;
	width: 70%;
	padding-left: 5px;
}
/*teams page end*/

.ideator-footer-swipe-bg{
	background: url(assets/images/ideator-bg100x.png) no-repeat center;
	border: none;
	height: 122px !important;
}
.ideator-footer-swipe-bg img{
	width: 55%;
	margin-top: 6px;
	border-radius: 50%;
	height: 72%;
}

.funder-footer-swipe-bg{
	background: url(assets/images/funders-bg100x.png) no-repeat center;
	border: none;
	height: 102px !important
}
.funder-footer-swipe-bg img{
	width: 35%;
	margin-top: 28px;
}
.test-box{margin-top: 20px;
	text-align: center;
	padding: 50px;}

.provider-mask{
	background:url(assets/images/provider-bg.png) no-repeat;
	position: absolute;
	top: 30px;
	width: 65%;
	left: 20%;

	text-align: center;
	float: left;
	height: 100%;
	border-color: #E7E7E7;
	margin-top: -10px;
	padding-bottom: 30px;
}
.provider-mask span{
	background: #FBFFFF;
	float: left;
	width: 85%;
	border-radius: 50%;
	margin: 23px 0px 0px 13px;
	overflow: hidden;
}
.provider-mask img{
	width: 196px;
	height: 174px;
	border-radius: 21%;
}

/*hanging button*/
.homepage-switch{
	width: 80px;
	height: 44px;
	bottom: 100px;
	right: 1px;
	background: url(assets/images/hanging.png) no-repeat;
	position: fixed;
	z-index: 9999
}
.homepage-switch span{
	position: absolute;
	top: 7px;
	left: 7px;
}
.homepage-switch span:nth-child(2){
	position: absolute;
	top: 7px;
	left: 43px;
}
/*.mapview{background: url(../images/list-view-active.png) no-repeat}
.mainview{background: url(../images/map-view-active.png) no-repeat}*/
/*hanging button end*/

.moolya-app-principal{background: #fff; margin-top: -15px; padding-top: 10px; height: 440px; overflow-y: scroll; text-align: left;}

.moolya-team{    float: left;
	height: 55%;
	width: 65%;}

.moolya-border{border-right:4px solid #ddd;}

.provider-footer-swipe-bg{
	background: url(assets/images/provider-bg100x.png) no-repeat center;
	border: none;
	height: 102px !important;
}
.provider-footer-swipe-bg img{
	width: 35%;
	margin-top: 28px;
}

/*responsive*/
@media screen and (max-width: 1024px) and (min-width: 768px) {
	.moolya-container{
		width: 92.5%;
	}
	.moolya-left-nav{
		width: 7.5%;
	}
	.m-com-type{
		width: 70%;
	}
	.m-box-logo img{
		width: 150px;
	}

	.ideator-mask{width: 74%; left: 9%}	.ideator-mask span{width: 79%;}

	.provider-mask{width: 87%;left: 9%;}

	.m-fn-box-wrapp .grid-item,	.m-fn-box-wrapp .grid-sizer { width: 23%;}
	.m-fn-box-wrapp .grid-item--width3 { width: 47%; min-height: 250px; }
	.funder-mask{left: 4%;}
	.fun-center { left: 28%;}
}
