<template name="areaofinterest">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="row offset0 moolya-app-funder mooly-style-3" style="margin-top: 5px;">
                    <div class="col-lg-12 col-md-12 offset0 padding10 moolya-area mooly-style-3">
                        <h4>Area of Interest</h4>
                        <div>
                            <ul class="moolya-list">
                                <li class="margin-bottom5">Banking/ Financial Services</li>
                                <li class="margin-bottom5">Engineering, Procurement, Construction</li>
                                <li class="margin-bottom5">IT/ Computers - Software</li>
                                <li class="margin-bottom5">Shipping/ Marine Services</li>
                                <li class="margin-bottom5">Machinery/ Equipment Mfg</li>
                                <li class="margin-bottom5">Shipping/ Marine Services</li>
                                <li class="margin-bottom5">Pharmaceutical</li>
                                <li class="margin-bottom5">Hospitals/Healthcare/Diagnostics</li>
                            </ul>
                        </div>
                    </div>
                    </div>


                <div class="container-fluid">
                    <div class="row">
                        <div style="background: #fff;" class="col-lg-12 col-md-12 margin-top5 related">
                            <h4>Related Funders</h4>
                            <!-- Swiper -->
                            <div class="swiper-container areaofinterest-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                </div>
                                <!-- Add Arrows
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>