<template name="mapview">i
    <div class="moolya-map-view">
        <div class="" style="margin-top: 45px;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d72423.01013678637!2d78.28448927591103!3d17.446997260454406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb93a276decedf%3A0x2c12e79e6f9344e2!2sGachibowli%2C+Hyderabad%2C+Telangana+500032!5e0!3m2!1sen!2sin!4v1459074435343" width="{{centerBodyWidth}}px" height="{{centerBodyHeight}}px" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</template>