<template name="engagementsp">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="row offset0 offset-top">
                    <div class="col-lg-12 col-md-12 moolya-app-idea mooly-style-3">
                        <!--						<div class="col-lg-3 col-md-4 offset0">
                                          <div class="moolya-funder-detail-bg engagement"><img src="assets/funders/prabhakar.jpg" width="90" alt="" /></div>
                                      </div>-->
                        <div class="col-lg-9 col-md-8 custom-align">
                            <h4>Engaging Process</h4>
                            <p>
                            <h4>Engagement and review past actions</h4>
                            Define criteria   for   identifying   and   prioritizing stakeholders     and    select    an     engagement mechanism Focus on  short  and  long  term  goals,  determine logistics for the engagement and set the rules
                            Conduct the    engagement    itself,    ensuring equitable stakeholder contribution and mitigating tension while remaining focused on the issues Identify opportunities    from    feedback    and determine  actions,  revisit  goals  and  plan  next steps for follow.
                            </p>
                            <p>
                            <h4>Up and future Engagement</h4>
                            There is a Step Zero Before developing an engagement strategy, you must first understand what stakeholder engagement means to your company. Although often used as a byword for public relations or reputation management, engagement is something else. It requires a shift in corporate mindset and a change from treating stakeholders’ issues as outside concerns that need to be managed to serious topics that merit
                            dialogue. The implication is that stakeholder perspectives should inform your company’s strategy and operations if properly embraced. However, the level of knowledge about stakeholder engagement may vary among key
                            individuals within your company, and there may be a need to develop internal capacity before launching engagement activities.
                            </p>
                            <p>
                            <h4>Action</h4>
                            Reach out internally and build a baseline understanding around
                            stakeholder engagement a prerequisite to developing an effective strategy. This helps avoid the risk of being unprepared to listen to stakeholder insight or guidance, and the risk of unintended greenwashing. It also helps identify internal champions and owners of future engagement activities. These individuals are your internal stakeholders; collaborate with them as you build your overall strategy.
                            Building a Strategy With internal alignment and a common understanding of stakeholder engagement, you can move on to building a strategy.
                            </p>


                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div style="background: #fff;" class="col-lg-12 col-md-12 margin-top5 ">
                            <h4>Related Providers</h4>

                            <!-- Swiper -->
                            <div class="swiper-container engagement-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                </div>
                                <!-- Add Arrows
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>