<template name="principleDetails">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="m-principal">
                    <div class="m-principal-bg">
                        <div class="corner-menu"></div>
                        <!--					<iframe src="startup.html"></iframe>-->
                        <div class="teams">
                            <div class="Teams">

                                <div class="team-member"> <span class="fa fa-user"></span>
                                    <label class="team-member-details">Pavan kumar accounting director Accounting</label>
                                </div>
                                <div class=" team-member"> <span class="fa fa-user"></span>
                                    <label class="team-member-details">Pavan kumar accounting director Accounting</label>
                                </div>
                                <div class="team-member"> <span class="fa fa-user"></span>
                                    <label class="team-member-details">Pavan kumar accounting director Accounting</label>
                                </div>
                                <div class="team-member"> <span class="fa fa-user"></span>
                                    <label class="team-member-details">Pavan kumar accounting director Accounting</label>
                                </div>
                                <div class=" team-member"> <span class="fa fa-user"></span>
                                    <label class="team-member-details">Pavan kumar accounting director Accounting</label>
                                </div>
                                <div class="team-member"> <span class="fa fa-user"></span>
                                    <label class="team-member-details">Pavan kumar accounting director Accounting</label>
                                </div>
                                <div class="team-member"> <span class="fa fa-user"></span>
                                    <label class="team-member-details">Pavan kumar accounting director Accounting</label>
                                </div>
                                <div class=" team-member"> <span class="fa fa-user"></span>
                                    <label class="team-member-details">Pavan kumar accounting director Accounting</label>
                                </div>
                                <div class="team-member"> <span class="fa fa-user"></span>
                                    <label class="team-member-details">Pavan kumar accounting director Accounting</label>
                                </div>
                                <div class="team-member"> <span class="fa fa-user"></span>
                                    <label class="team-member-details">Pavan kumar accounting director Accounting</label>
                                </div>
                                <div class="team-member"> <span class="fa fa-user"></span>
                                    <label class="team-member-details">Pavan kumar accounting director Accounting</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div style="background: #fff;" class="col-lg-12 col-md-12 margin-top5 related">
                            <h4>Related Funders</h4>
                            <!-- Swiper -->
                            <div class="swiper-container principleDetails-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                </div>
                                <!-- Add Arrows
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>