<template name="news">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="row offset0">
                    <div class="col-lg-12 col-md-12 moolya-bg">
                        <div class="col-lg-4 col-md-4 offset0">
                            <div class="swiper-container swiper3">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide text-center moolya-news"><img  src="assets/news/14.jpg" alt="" /> <span class="moolya-news-txt">Indian Startup Funding</span></div>
                                    <div class="swiper-slide text-center moolya-news"><img  src="assets/news/12.jpg" alt="" /> <span class="moolya-news-txt">Being a Woman Entrepreneur in a Man's World</span></div>
                                </div>
                                <div class="swiper-pagination swiper-pagination3"></div>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-8 offset0">
                            <div class="swiper-container swiper2">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide text-center moolya-news"><img  src="assets/news/1.jpg" alt="" /> <span class="moolya-news-txt">$7.3 billion invested in Indian startups in three quarters of 2015</span></div>
                                    <div class="swiper-slide text-center moolya-news"><img  src="assets/news/2.jpg" alt="" /> <span class="moolya-news-txt">Key Funding Trends to Watch Out for in 2017</span></div>
                                    <div class="swiper-slide text-center moolya-news"><img  src="assets/news/3.jpg" alt="" /> <span class="moolya-news-txt">5 Favors to Call in When Launching a Business</span></div>
                                </div>
                                <div class="swiper-pagination swiper-pagination2"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 moolya-bg">
                        <div class="col-lg-4 col-md-4 offset0">
                            <div class="swiper-container swiper3">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide text-center moolya-news"><img  src="assets/news/11.jpg" alt="" /> <span class="moolya-news-txt">Indian Startup Funding And Investment [2016]</span></div>
                                    <div class="swiper-slide text-center moolya-news"><img  src="assets/news/12.jpg" alt="" /> <span class="moolya-news-txt">Being a Woman Entrepreneur in a Man's World</span></div>
                                </div>
                                <div class="swiper-pagination swiper-pagination3"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 offset0">
                            <div class="swiper-container swiper3">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide text-center moolya-news"><img  src="assets/news/13.jpg" alt="" /> <span class="moolya-news-txt">Gene-editing, Food Waste, Insects, Algae, Impact</span></div>
                                    <div class="swiper-slide text-center moolya-news"><img  src="assets/news/12.jpg" alt="" /> <span class="moolya-news-txt">Being a Woman Entrepreneur in a Man's World</span></div>
                                </div>
                                <div class="swiper-pagination swiper-pagination3"></div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 offset0">
                            <div class="swiper-container swiper3">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide text-center moolya-news"><img  src="assets/news/12.jpg" alt="" /> <span class="moolya-news-txt">Being a Woman Entrepreneur in a Man's World</span></div>
                                    <div class="swiper-slide text-center moolya-news"><img  src="assets/news/11.jpg" alt="" /> <span class="moolya-news-txt">Indian Startup Funding And Investment [2016]</span></div>
                                </div>
                                <div class="swiper-pagination swiper-pagination3"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div style="background: #fff;" class="col-lg-12 col-md-12 margin-top5 ">
                            <h4>Related Funders</h4>
                            <!-- Swiper -->
                            <div class="swiper-container news-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                </div>
                                <!-- Add Arrows
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>