<template name="investment">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="row offset0 offset-top">
                    <div class="col-lg-12 col-md-12 moolya-app-idea mooly-style-3">
                        <div class="col-lg-3 col-md-4 offset0">
                            <div class="moolya-funder-detail-bg"><img class="marginTop" src="assets/funders/rammohan.jpg" alt="" /></div>
                            <!-- <div class="swiper-container swiper2">
              <div class="swiper-wrapper">
                <div class="swiper-slide text-center"><img  src="assets/images/bulb.png" alt="" /></div>
                <div class="swiper-slide text-center"><img  src="assets/images/bulb.png" alt="" /></div>
                <div class="swiper-slide text-center"><img  src="assets/images/bulb.png" alt="" /></div>
              </div>
        <div class="swiper-pagination swiper-pagination2"></div>
            </div>--></div>
                        <div class="col-lg-9 col-md-8 custom-align">
                            <h4>Investers</h4>
                            <p>ZOYLO is a one stop revolutionary online healthcare platform in India dedicated to extend the horizons of healthcare facilities and services beyond regional limitations and make it accessible to all. We aim at taking healthcare in India to the next level for today’s tech savvy population. With citizens transforming into netizens, we leverage the power of technology to create an online pool of doctors, medical practitioners, diagnostics, hospitals, medicines, wellness products, and other healthcare and emergency services all under one roof with incomparable information and easy online access.</p>
                            <p>
                            <h4>Online Appointment Booking on Zoylo</h4> Zoylo’s map based online doctor appointment booking service is one of its kind offering confirmed appointments using your Zoylo account without any hassles. Keeping users’ convenience on the top, the website offers many value added features like quick personalized search, bookings, rescheduling and cancellation facilities to save time and effort. Getting to a specialty doctor right near you was never this easy. </p>
                            <p>
                            <h4>Online Appointment Booking on Zoylo</h4> Zoylo’s map based online doctor appointment booking service is one of its kind offering confirmed appointments using your Zoylo account without any hassles. Keeping users’ convenience on the top, the website offers many value added features like quick personalized search, bookings, rescheduling and cancellation facilities to save time and effort. Getting to a specialty doctor right near you was never this easy. </p>
                            <p>
                            <h4>Online Appointment Booking on Zoylo</h4> Zoylo’s map based online doctor appointment booking service is one of its kind offering confirmed appointments using your Zoylo account without any hassles. Keeping users’ convenience on the top, the website offers many value added features like quick personalized search, bookings, rescheduling and cancellation facilities to save time and effort. Getting to a specialty doctor right near you was never this easy. </p>
                            <p>
                            <h4>Online Appointment Booking on Zoylo</h4> Zoylo’s map based online doctor appointment booking service is one of its kind offering confirmed appointments using your Zoylo account without any hassles. Keeping users’ convenience on the top, the website offers many value added features like quick personalized search, bookings, rescheduling and cancellation facilities to save time and effort. Getting to a specialty doctor right near you was never this easy. </p>
                            <div>
                                <p>ZOYLO is a one stop revolutionary online healthcare platform in India dedicated to extend the horizons of healthcare facilities and services beyond regional limitations and make it accessible to all. We aim at taking healthcare in India to the next level for today’s tech savvy population. With citizens transforming into netizens, we leverage the power of technology to create an online pool of doctors, medical practitioners, diagnostics, hospitals, medicines, wellness products, and other healthcare and emergency services all under one roof with incomparable information and easy online access.</p>
                                <p>
                                <h4>Online Appointment Booking on Zoylo</h4> Zoylo’s map based online doctor appointment booking service is one of its kind offering confirmed appointments using your Zoylo account without any hassles. Keeping users’ convenience on the top, the website offers many value added features like quick personalized search, bookings, rescheduling and cancellation facilities to save time and effort. Getting to a specialty doctor right near you was never this easy. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div style="background: #fff;" class="col-lg-12 col-md-12 margin-top5 related">
                            <h3>Related Investors</h3>
                            <!-- Swiper -->
                            <div class="swiper-container investment-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                </div>
                                <!-- Add Arrows
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>