<template name="investment">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="row offset0 offset-top">
                    <div class="col-lg-12 col-md-12 moolya-app-funder mooly-style-3">
                        <div class="col-lg-12 col-md-12 custom-align">
                            <h4>Investors</h4>
                            <p>The term “risk” as it relates to investing may have negative or scary connotations in your mind. And it is true that riskier  assets have a greater chance of decreasing in value at some point. Yet, taking on risk in the investment world can also bring reward, as riskier investments tend to have greater potential to significantly increase in value. The key is to find  a balance between lower risk and higher risk investments that is appropriate for your specific investment objectives. </p>
                            <p> That’s  where  SLC comes  in  –  SLC has  been  building  individualized,  balanced,  global  portfolios  since  1989.  SLC Risk  Budgeting  Methodology  is  the  foundation  of  its  portfolio  construction  process.  SLC starts  by  defining  your  personalized risk budget, based on your unique investing time horizon and specific investment goals. This budget, which is expressed as a percentage of the risk of a well-diversified, global equity portfolio, represents the amount of risk you are comfortable taking on in exchange for potential returns. Your individual risk budget is the risk level at which SLC manages your portfolio. </p>
                            <p>
                            <h4>Methods</h4>
                            SLC  focus  on  managing  risk  instead  of  allocating  portfolios  according  to  a  stock-to-bond  ratio  gives  us  increased  flexibility over other asset managers. By examining the actual risk of investment choices, we can discover relationships that others may miss.There are two general reasons SLC makes changes within your investment portfolio:
                            The risk of underlying assets changes.The attractiveness of underlying assets SLC believes  that  successful  portfolio  management  needs  to  be  anchored  in  a  methodology  that  has  a  strong,  quantitative discipline. A methodology lacking flexibility will be rigid and slow. SLC investment methodology is designed to allow your investment portfolio to adjust to the market environment while staying true to your individual risk budget. For example, if stocks are riskier than normal, SLC can reallocate a percentage of your portfolio to more conservative assets in an attempt to offset that increased risk and keep the portfolio in balance. If a particular asset class is showing less risk than it has historically, SLC adjusts the risk level of this asset and analyzes whether its return potential is sufficient to warrant increased investment.
                            </p>
                            <p>
                            <h4>Changes</h4>
                            As an active money manager focused on asset allocation, SLC can adjust your portfolio holdings to reflect market  changes, while still seeking to keep you within your risk budget. At  SLC we  are  actively  watching  your  portfolio.  Since  we  know  risk  varies  between  asset  classes,  whenever  necessary, we can adjust your account toward classes we see as having lower risk or superior return. For example, when equities with risk lower than the benchmark are outperforming, SLC can create a higher equity allocation in an attempt to take advantage of the opportunity. The stock-to-bond ratio would then be overweight equities, but the
                            overall portfolio will still be in line with the risk budget.
                            </p>
                            <p>
                                SLC will make available to you an individual Quarterly Performance Evaluation at the end of each quarter in both PDF and video formats, which you can review with this investment proposal to determine whether you are meeting your goals. The proposal  will  help  you  keep  in  mind  your  investment  objectives,  time  horizon,  and expected rate of return. Your Quarterly Performance Evaluations are available on the web at.
                            </p>
                            <p>
                                The  goal  of  investment  analysis  is  to  analyze  the  attractiveness  of  an  asset  not  only  based  on  its  risk,  but  also  on the  return  potential  the  asset  may  bring  to  the  portfolio.  Consistent  with  our  overall  approach,  SLC  relies  on  a  set  of quantitative inputs and qualitative evaluations of asset classes to estimate overall return potential. SLC  portfolio managers  focus  on  five  characteristics  when  analyzing  the  attractiveness  of  a  security:  economic,  fundamental,  statistical, technical, and valuation.
                            </p>
                             </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div style="background: #fff;" class="col-lg-12 col-md-12 margin-top5 related">
                            <h4>Related Funders</h4>
                            <!-- Swiper -->
                            <div class="swiper-container investment-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                </div>
                                <!-- Add Arrows
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>