<template name="moolyaHomeHeader">
    <div class="moolya-header">
        <div class="container-fluid">

            <!--header for landing-->
            <div class="row offset10">
                <div class="col-lg-6 col-md-6 col-sm-6 offset0">
                    <a href="{{pathFor 'startup'}}"><img src="assets/images/moolya_logo.png" alt="moolya" class="moolya-logo img-responsive"/></a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 text-right">
                    <span class="fa fa-search search-icon"></span>
                    <div class="expSearchBox">
                        <div class="expSearchFrom">
                            <input id="field" type="text" value="Search here"/>
                            <div class="close">
                                <span class="front"></span>
                                <span class="back"></span>
                            </div>
                        </div>
                    </div>
                    <span class="fa fa-bell-o alerts-icon"><span class="fa fa-circle alert-note"></span></span>
                    <span class="profile-pic"><img src="assets/images/profile-pic.png" alt="" /></span>
                </div>
            </div>

        </div>
    </div>


</template>