<template name="serviceProvider">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="col-lg-12 col-md-12 moolya-app-idea mooly-style-3">
                    <h3>About</h3>

                    <div class="promoters" id="content-1">
                        <label class="promoter-image">
                            <figure>
                                <img src="assets/images/rammohan.jpg" />
                                <figcaption>C.F.O</figcaption>
                            </figure>
                        </label>
                        <p>Raised in a traditional family, Gowtham has retained a strong sense of discipline, diligence and perseverance in his personality. He is a wildlife lover and likes to explore nature driving around with friends. Having spent all his childhood and schooling in Andhra Pradesh, IN, Gowtham has a Master of Computer Applications from University of Madras, Chennai, Tamil Nadu. He places utmost importance in striking right balance between work and personal life and believes it is critical not just for his progression but also ensures his team practice it.</p>
                        <p>He is well travelled across India, US, EMEA and APAC and retains special interests in technology consulting, operations and strategy in his 18+ years of experience while fire-fighting many complex projects. He has a good mix of technical, managerial and services background.</p>
                        <p>Raised and schooled in Hyderabad, TS, IN Sreeram moved to Bangalore to obtain his Bachelor of Engineering in Electronics & Communication from Bangalore University. He has a Post Graduate Certification in Business Management (PGCBM), from XLRI India. As a cricket enthusiast, he captains a team actively participating in many intra company tournaments toping the charts few times. Perseverance and leadership comes naturally as a sportsman.</p>
                        <br>
                        <p>He is well travelled across India, US, UK and Canada and retains special interests in product development, management consulting, coaching, customer service, pre sales and business development and has been a high achiever all his life.</p>
                        <br>
                        <p>For professional experience, Sreeram donned various roles as skilled analytical software programmer, tutor/trainer, business analyst, product manager, program head during his tenure at DST and TCS/Microsoft. He is acclaimed for his contributions towards setting up a greenfield IT qa/qc practice at DST, that has shaped into a full-fledged successful center of excellence (COEs) catering to testing and consulting aspects of financial projects of a globally dispersed large teams delivering hedge fund products across US and UK.</p>

                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div style="background: #fff;" class="col-lg-12 col-md-12 margin-top5 ">
                            <h4>Related Providers</h4>

                            <!-- Swiper -->
                            <div class="swiper-container serviceprovider-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center provider-footer-swipe-bg"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                </div>
                                <!-- Add Arrows
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>