<template name="success">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="row offset0 offset-top">
                    <div class="col-lg-12 col-md-12 moolya-app-idea mooly-style-3">
<h4>Engaging Process</h4>
                        <p>It never ceases to amaze me how much time people waste searching endlessly for magic shortcuts to entrepreneurial success and fulfillment when the only real path is staring them right in the face: real entrepreneurs who start real businesses that employ real people who provide real products and services to real customers.</p>

                        <p>Yes, I know that’s hard. It's a lot of work. What can I say, that’s life. Besides, look on the bright side: You get to do what you want and you get to do it your way. There’s just one catch. You’ve got to start somewhere. Ideas and opportunities don’t just materialize out of thin air.</p>

                        <p>The only way I know to get started is by learning a marketable skill and getting to work. In my experience, that’s where the ideas, opportunities, partners, and finances always seem to come from. Sure, it also takes an enormous amount of hard work, but that just comes with the territory.</p>

                        <p>If you want to do entrepreneurship right, here are eight stories you’ve probably never heard about companies you’ve most definitely heard of.</p>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div style="background: #fff;" class="col-lg-12 col-md-12 margin-top5 related">
                            <h4>Related Funders</h4>
                            <!-- Swiper -->
                            <div class="swiper-container success-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center funder-footer-swipe-bg"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                </div>
                                <!-- Add Arrows
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</template>