<template name="success">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="sucess-stories">
                    <div class="col-lg-4 col-md-4 offset0 moolya-bg">
                        <div class="text-center moolya-funder-detail-bg engagement"><img class="marginTop" src="assets/funders/Kishore-Sara.jpg" alt="" /></div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-11 offset0 clearfix">
                        <div class="m-bs-box-wrapp">
                            <div class="data-grid">
                                <div class="grid-sizer"></div>
                                <div class="grid-item grid-item--width2 grid-item--height2">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Ema whatson</h1> </div>
                                <div class="grid-item grid-item--width2 grid-item--height2">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Ema whatson</h1> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 offset0 clearfix">
                        <div class="m-bs-box-wrapp">
                            <div class="data-grid">
                                <div class="grid-sizer"></div>
                                <div class="grid-item grid-item--width2 grid-item--height2">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>jaipilai</h1> </div>
                                <div class="grid-item">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Harish</h1> </div>
                                <div class="grid-item">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Manish murthi</h1> </div>
                                <div class="grid-item grid-item--width2 grid-item--height2">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>jagapathi rao</h1> </div>
                                <div class="grid-item">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Quarterly Report</h1> </div>
                                <div class="grid-item">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Half Yearly Report</h1> </div>
                                <div class="grid-item">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Yearly Report</h1> </div>
                                <div class="grid-item">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Over all Report</h1> </div>
                                <div class="grid-item">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Ratio</h1> </div>
                                <div class="grid-item">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Share Holding</h1> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 offset0 clearfix">
                        <div class="m-bs-box-wrapp">
                            <div class="data-grid">
                                <div class="grid-sizer"></div>
                                <div class="grid-item grid-item--width2 grid-item--height2">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Edward</h1> </div>
                                <div class="grid-item">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Eric</h1> </div>
                                <div class="grid-item">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>asuthosh</h1> </div>
                                <div class="grid-item grid-item--width2 grid-item--height2">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Capital Structure</h1> </div>
                                <div class="grid-item">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Quarterly Report</h1> </div>
                                <div class="grid-item">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Half Yearly Report</h1> </div>
                                <div class="grid-item">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Yearly Report</h1> </div>
                                <div class="grid-item">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Over all Report</h1> </div>
                                <div class="grid-item">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Ratio</h1> </div>
                                <div class="grid-item">
                                    <a href="#" class="wrapp-click"></a>
                                    <h1>Share Holding</h1> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>