<template name="awardsAndRewards">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="col-lg-6 col-md-6 col-sm-6 offset0 clearfix">
                    <div class="m-bs-box-wrapp">
                        <div class="data-grid">
                            <div class="grid-sizer"></div>
                            <div class="grid-item grid-item--width2 grid-item--height3 awardimg">
                                <div><img src="assets/awards/awards4.png" class="img-responsive"></div>
                            </div>
                            <div class="grid-item grid-item--width2 grid-item--height3 awardimg">
                                <div><img src="assets/awards/awards3.JPG" class="img-responsive"></div>
                            </div>
                            <div class="grid-item awardimg" id="article3">
                                <div><img src="assets/awards/awards3.JPG" class="img-responsive"></div>
                            </div>
                            <div class="grid-item grid-item--width2 grid-item--height3 awardimg">
                                <div><img src="assets/awards/awards1.png" class="img-responsive"></div>
                            </div>
                            <div class="grid-item awardimg" id="article5">
                                <div><img src="assets/awards/awards5.png" class="img-responsive"></div>
                            </div>
                            <div class="grid-item awardimg" id="article6">
                                <div><img src="assets/awards/awards5.png" class="img-responsive"></div>
                            </div>
                            <div class="grid-item awardimg" id="article7">
                                <div><img src="assets/awards/awards6.jpg" class="img-responsive"></div>
                            </div>

                            <div class="grid-item grid-item--width2 grid-item--height3 awardimg" id="article8">
                                <div><img src="assets/awards/awards5.png" class="img-responsive"></div>
                            </div>
                            <div class="grid-item grid-item--width2 grid-item--height3 awardimg" id="article9">
                                <div><img src="assets/awards/awards3.JPG" class="img-responsive"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 offset0 clearfix">
                    <div class="m-bs-box-wrapp m-aw-box-wrapp">
                        <div class="m-fullarticle"  id="m-fullarticle2" style="display: block">
                            <h1>Awards and Rewards</h1>
                            <p>This is the most obvious way to offer something special to your members, but it isn't always easy decide what you should offer.

                                I'm going to share two different ideas for members only content. The first, value content, appeals to your audience from a learning and business perspective, while the second, insider content, appeals to your audience from a more curious angle. Either approach can be effective. Ideally you find a way to use them both.

                                Value content is content that will help your readers make money or do something they're really interested in. If you're writing great content about DIY home improvement, like Young House Love, one idea would be to write a weekly post with a special members only do it yourself project. Another idea would be to include a printable PDF step by step guide for members in each renovation style post. This is value content. It's especially useful and relevant to your readers.

                                Insider content gives your audience some insight into you and your work routine or life. Humans are naturally curious and interested in people we admire. Entire TV shows and magazines are dedicated to documenting celebrity life. How you can you turn this curiosity into an idea for your membership site? In the Young House Love example, Sherry and John could include some behind the scenes video they took while completing a renovation, or maybe a blooper reel of mistakes made during the process. They could also do a quick members only video explaining the thought process behind a home improvement project.
                                Real world example

                                Shawn Blanc has been writing about technology and design since 2007. He offers members only value content with Coffee Methods (recipes, gear, and videos on brewing coffee) and insider content with Shawn Today, a behind-the-scenes podcast of his ideas and thoughts on technology and design. </p>
                            <p>1-It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
                        </div>
                        <div class="m-fullarticle" id="m-fullarticle3">
                            <h1>Awards and Rewards</h1>
                            <p>2-It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
                        </div>
                        <div class="m-fullarticle" id="m-fullarticle5">
                            <h1>Awards and Rewards</h1>
                            <p>4-Content goes here..</p>
                        </div>
                        <div class="m-fullarticle" id="m-fullarticle6">
                            <h1>Awards and Rewards</h1>
                            <p>5-Content goes here..</p>
                        </div>
                        <div class="m-fullarticle" id="m-fullarticle7">
                            <h1>Awards and Rewards</h1>
                            <p>6-Content goes here..</p>
                        </div>
                        <div class="m-fullarticle" id="m-fullarticle8">
                            <h1>Awards and Rewards</h1>
                            <p>7-Content goes here..</p>
                        </div>
                        <div class="m-fullarticle" id="m-fullarticle9">
                            <h1>Awards and Rewards</h1>
                            <p>8-Content goes here..</p>
                        </div>
                        <div class="m-fullarticle" id="m-fullarticle10">
                            <h1>Awards and Rewards</h1>
                            <p>9-Content goes here..</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>