<template name="awardsAndRewardssp">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="col-lg-6 col-md-6 col-sm-6 offset0 clearfix">
                    <div class="m-bs-box-wrapp">
                        <div class="data-grid">
                            <div class="grid-sizer"></div>
                            <div class="grid-item grid-item--width2 grid-item--height3 awardimg">
                                <div><img src="assets/awards/awards4.png" class="img-responsive"></div>
                            </div>
                            <div class="grid-item grid-item--width2 grid-item--height3 awardimg">
                                <div><img src="assets/awards/awards3.JPG" class="img-responsive"></div>
                            </div>
                            <div class="grid-item awardimg" id="article3">
                                <div><img src="assets/awards/awards3.JPG" class="img-responsive"></div>
                            </div>
                            <div class="grid-item grid-item--width2 grid-item--height3 awardimg">
                                <div><img src="assets/awards/awards1.png" class="img-responsive"></div>
                            </div>
                            <div class="grid-item awardimg" id="article5">
                                <div><img src="assets/awards/awards5.png" class="img-responsive"></div>
                            </div>
                            <div class="grid-item awardimg" id="article6">
                                <div><img src="assets/awards/awards5.png" class="img-responsive"></div>
                            </div>
                            <div class="grid-item awardimg" id="article7">
                                <div><img src="assets/awards/awards6.jpg" class="img-responsive"></div>
                            </div>

                            <div class="grid-item grid-item--width2 grid-item--height3 awardimg" id="article8">
                                <div><img src="assets/awards/awards5.png" class="img-responsive"></div>
                            </div>
                            <div class="grid-item grid-item--width2 grid-item--height3 awardimg" id="article9">
                                <div><img src="assets/awards/awards3.JPG" class="img-responsive"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 offset0 clearfix">
                    <div class="m-bs-box-wrapp m-aw-box-wrapp">
                        <div class="m-fullarticle"  id="m-fullarticle2" style="display: block">
                            <h1>Awards and Rewards</h1>
                            <p>1-It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </p>
                        </div>

                        <div class="m-fullarticle" id="m-fullarticle3">
                            <h1>Awards and Rewards</h1>
                            <p>2-It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </p>
                        </div>
                        <div class="m-fullarticle" id="m-fullarticle4">
                            <h1>Awards and Rewards</h1>
                            <p>3-It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </p>
                        </div>
                        <div class="m-fullarticle" id="m-fullarticle5">
                            <h1>Awards and Rewards</h1>
                            <p>4-Content goes here..</p>
                        </div>
                        <div class="m-fullarticle" id="m-fullarticle6">
                            <h1>Awards and Rewards</h1>
                            <p>5-Content goes here..</p>
                        </div>
                        <div class="m-fullarticle" id="m-fullarticle7">
                            <h1>Awards and Rewards</h1>
                            <p>6-Content goes here..</p>
                        </div>
                        <div class="m-fullarticle" id="m-fullarticle8">
                            <h1>Awards and Rewards</h1>
                            <p>7-Content goes here..</p>
                        </div>
                        <div class="m-fullarticle" id="m-fullarticle9">
                            <h1>Awards and Rewards</h1>
                            <p>8-Content goes here..</p>
                        </div>
                        <div class="m-fullarticle" id="m-fullarticle10">
                            <h1>Awards and Rewards</h1>
                            <p>9-Content goes here..</p>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</template>