<template name="problemAndSolution">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="col-lg-12 col-md-12 offset0">
                    <div class="col-lg-6 col-md-6 moolya-app-idea mooly-style-3 moolya-bg">
                        <h3>Problems</h3>

                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                        <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>

                        <p>
                        <h4>Online Grocery Shopping India</h4>
                        Shop on the go and buy groceries, fresh fruits & vegetables, cakes & other bakery items, meats & seafood, cosmetics, mobiles & accessories, electronics and baby care products. We get it all delivered at your doorstep within hours. You not only save time but also money with our best prices and offers. We get savings.
                        </p>

                        <p>
                        <h4>Single app for all your daily needs</h4>
                        Order thousands of products at just a tap; milk, eggs, bread, cooking oil, ghee, atta, rice, fresh fruits & vegetables, spices, chocolates, chips, biscuits, Maggi, cold drinks, shampoos, soaps, body wash, pet food, diapers, electronics, other organic and gourmet products from your neighbourhood stores.
                        </p>
                    </div>
                    <div class="col-lg-6 col-md-6 moolya-app-idea mooly-style-3">
                        <h3>Solutions</h3>
                        <br>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

                        <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

                        <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>

                        <p>
                        <h4>Online Grocery Shopping India</h4>
                        Shop on the go and buy groceries, fresh fruits & vegetables, cakes & other bakery items, meats & seafood, cosmetics, mobiles & accessories, electronics and baby care products. We get it all delivered at your doorstep within hours. You not only save time but also money with our best prices and offers. We get savings.
                        </p>

                        <p>
                        <h4>Single app for all your daily needs</h4>
                        Order thousands of products at just a tap; milk, eggs, bread, cooking oil, ghee, atta, rice, fresh fruits & vegetables, spices, chocolates, chips, biscuits, Maggi, cold drinks, shampoos, soaps, body wash, pet food, diapers, electronics, other organic and gourmet products from your neighbourhood stores.
                        </p>
                    </div>

                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div style="background: #fff;" class="col-lg-12 col-md-12 margin-top5 ">
                            <h5>Related Ideators</h5>

                            <!-- Swiper -->
                            <div class="swiper-container problemandsol-swiper">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide text-center"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                    <div class="swiper-slide text-center"><img class="moolya-border" src="assets/images/1.png" alt="" /></div>
                                    <div class="swiper-slide text-center"><img class="moolya-border" src="assets/images/2.png" alt="" /></div>
                                    <div class="swiper-slide text-center"><img class="moolya-border" src="assets/images/3.png" alt="" /></div>
                                    <div class="swiper-slide text-center"><img class="moolya-border" src="assets/images/4.png" alt="" /></div>
                                    <div class="swiper-slide text-center"><img class="moolya-border" src="assets/images/5.png" alt="" /></div>
                                </div>
                                <!-- Add Arrows
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>