<template name="home">
    <div class="container-fluid">
        <div class="row">
            <div class="moolya-container mooly-style-3">
                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <a href="{{pathFor 'startup'}}" class="wrapp-click"></a>
                        <div class="m-box-logo"><img src="assets/images/logo2.jpg" class="img-responsive"></div>
                        <div class="m-box-cont">
                            <div class="m-box-title-wrapp">
                                <h1>Start up</h1>
                                <div class="m-com-connect pull-right"><span class="m-conn-icon"><img src="assets/images/connect.png"></span> Connect</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 offset0">
                    <div class="m-box-wrapp clearfix">
                        <a href="{{pathFor 'ideators'}}" class="wrapp-click"></a>
                        <div class="m-box-logo"><img src="assets/images/logo2.jpg" class="img-responsive"></div>
                        <div class="m-box-cont">
                            <div class="m-box-title-wrapp">
                                <h1>Ideator</h1>
                                <div class="m-com-connect pull-right"><span class="m-conn-icon"><img src="assets/images/connect.png"></span> Connect</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--rows end-->
            </div>
        </div>
    </div>
</template>